.chr-button-intercom {
  border-radius: var(--pf-t--global--border--radius--small);
  height: 2rem;
  aspect-ratio: 1 / 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 0.1s ease;
  
  .pf-v6-c-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  // Idle state - corporate blue rocket, no background
  .chr-icon-intercom {
    color: var(--pf-t--global--color--brand--default);
    width: var(--pf-t--global--icon--size--md);
    height: var(--pf-t--global--icon--size--md);
    transition: color 0.1s ease;
  }
  
  &:active,
  &.expanded,
  &:hover {
    background-color: var(--pf-t--global--color--brand--default);

    .chr-icon-intercom {
      color: var(--pf-t--color--white);
      transition: color 0.1s ease;
    }
  }
}
