@import '~@patternfly/patternfly/patternfly-addons.scss';
$cards: 0, 1, 2, 3;

.chr-c-product-card {
  &__link {
    white-space: nowrap;
  }

  &__title {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    border-top: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    border-left: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    border-right: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    padding: var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--md) var(--pf-v5-global--spacer--lg);
    @each $card in $cards {
      &.title-#{$card} {
        grid-column: $card + 1;
        grid-row: 1;
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--xl)) {
      @each $card in $cards {
        &.title-#{$card} {
          @if $card > 1 {
            margin-top: var(--pf-v5-global--spacer--lg);
            grid-column: $card - 1;
            grid-row: 4;
          }
        }
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--md)) {
      @each $card in $cards {
        &.title-#{$card} {
            margin-top: var(--pf-v5-global--spacer--lg);
            grid-column: 1;
            grid-row: ($card * 3) + 1;
        }
      }
    }
  }

  &__body {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    border-left: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    border-right: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    padding: 0 var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg);
    @each $card in $cards {
      &.body-#{$card} {
        grid-column: $card + 1;
        grid-row: 2;
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--xl)) {
      @each $card in $cards {
        &.body-#{$card} {
          @if $card > 1 {
            grid-column: $card - 1;
            grid-row: 5;
          }
        }
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--md)) {
      @each $card in $cards {
        &.body-#{$card} {
            grid-column: 1;
            grid-row: ($card * 3) + 2;
        }
      }
    }
  }
  &__footer {
    background-color: var(--pf-v5-global--BackgroundColor--100);
    border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BorderColor--100);
    border-top: none;
    padding: 0 var(--pf-v5-global--spacer--lg) var(--pf-v5-global--spacer--lg);
    @each $card in $cards {
      &.footer-#{$card} {
        grid-column: $card + 1;
        grid-row: 3;
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--xl)) {
      @each $card in $cards {
        &.footer-#{$card} {
          @if $card > 1 {
            grid-column: $card - 1;
            grid-row: 6;
          }
        }
      }
    }
    @media only screen and (max-width: var(--pf-t--global--breakpoint--md)) {
      @each $card in $cards {
        &.footer-#{$card} {
            grid-column: 1;
            grid-row: ($card * 3) + 3;
        }
      }
    }
  }
}
