@import '~@patternfly/patternfly/patternfly-addons.scss';
@import '~@patternfly/patternfly/sass-utilities/scss-variables';

.chr-c-product-selection {
  max-width: 1260px;
  margin: auto;
  padding-right: var(--pf-t--global--spacer--lg);
  padding-left: var(--pf-t--global--spacer--lg);

  &__description {
    text-align: center;
  }

  &__layout {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    column-gap: 1em;
    grid-auto-rows: auto;
    @media only screen and (max-width: $pf-v6-global--breakpoint--xl) {      
      grid-template-columns: repeat(2, 300px);
    }
    @media only screen and (max-width: $pf-v6-global--breakpoint--md) {      
      grid-template-columns: repeat(1, minmax(auto, 400px));
    }
  }
}
