@use "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@use '~@patternfly/patternfly/patternfly-addons.scss';

.chr-c-pagination-landing-favorites {
  .pf-v6-c-options-menu__toggle {
    display: none !important;
  }
}

.chr-c-card-landing-fav {
  height: 110px;
}

