.ins-c-notification-drawer__badge {
    --pf-c-badge--FontSize: 0.5rem;
    --pf-c-badge--MinWidth: 0.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    margin-left: 0.2rem;
    vertical-align: super;
}