$pf-global--enable-reset: 'true';
$pf-global--image-path: './assets/images/';

@import 'node_modules/@patternfly/patternfly-next/patternfly-base.scss';

// Components
@import 'node_modules/@patternfly/patternfly-next/components/BackgroundImage/background-image.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Nav/nav.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Button/button.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Dropdown/dropdown.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Avatar/avatar.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Page/page.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Toolbar/toolbar.scss';

// Accessibility
@import 'node_modules/@patternfly/patternfly-next/utilities/Accessibility/accessibility.scss';
@import 'node_modules/@patternfly/patternfly-next/utilities/Spacing/spacing.scss';

@import 'helpers.scss';

@import 'partials/_footer.scss';

body {
    position: relative;
}

aside {
    overflow: auto !important;
}

.pf-c-about-modal-box__logo {
    display: none;
}

// Page temp styles
.pf-c-page {
  --pf-c-page__header-brand--FlexBasis--lg:         290px;
  --pf-c-page__sidebar--Width--lg:                  290px;
  --pf-c-page__header--MinHeight:                   110px;
  --pf-c-page__header-brand-logo--Height:           11px;
  --pf-c-page__header-brand--BackgroundColor--md:   #{$pf-global--BackgroundColor--dark-transparent-100};
  --pf-c-page__sidebar--Transition:                 all 500ms cubic-bezier(.42, 0, .58, 1);

  --pf-m-emphasis--FontSize:                        var(--pf-global--FontSize--xl);
}

// Nav
.pf-c-nav {
  --pf-c-nav--Width:                                290px;
}

// Header
.pf-c-page__header {
    overflow: visible;
    .pf-c-dropdown__menu {
        .account-number__header { @include rem('font-size', 12px); }
    }
}

// Brand
.pf-c-brand {
  fill: #fff;
  min-width: 200px;
  
  @media screen and (min-width: $pf-global--breakpoint--md) {
    width: 100%;
    min-width: auto;
  }
}

// Page sidebar
.pf-c-page__sidebar {
    grid-row-end: 4;
}

// Page footer
.ins-c-footer {
    grid-column-start: 1;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        grid-column-start: 2;
    }
}

// Card
.pf-c-card.pf-m-dark {
    @extend %pf-t-dark;
    background: transparent;
    box-shadow: none;

    &:hover {
        background: var(--pf-global--BackgroundColor--dark-transparent-200);
    }
}


// abstract this
.ins-c-icon-inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    > *:not(:last-child) {
        margin-right: var(--pf-global--spacer--md);
    }
}
