$pf-global--enable-reset: 'true';
$pf-global--image-path: './assets/images/';

@import 'node_modules/@patternfly/patternfly/patternfly-base.scss';

// Components
@import 'node_modules/@patternfly/patternfly/components/Toolbar/toolbar.scss';
@import 'node_modules/@patternfly/patternfly/components/Page/page.scss';
@import 'node_modules/@patternfly/patternfly/components/BackgroundImage/background-image.scss';
@import 'node_modules/@patternfly/patternfly/components/Nav/nav.scss';
@import 'node_modules/@patternfly/patternfly/components/Button/button.scss';
@import 'node_modules/@patternfly/patternfly/components/Dropdown/dropdown.scss';
@import 'node_modules/@patternfly/patternfly/components/Avatar/avatar.scss';
@import 'node_modules/@patternfly/patternfly/components/Title/title.scss';
@import 'node_modules/@patternfly/patternfly/components/AboutModalBox/about-modal-box.scss';
@import 'node_modules/@patternfly/patternfly/components/ModalBox/modal-box.scss';
@import 'node_modules/@patternfly/patternfly/components/Backdrop/backdrop.scss';
@import 'node_modules/@patternfly/patternfly/components/Switch/switch.scss';
@import 'node_modules/@patternfly/patternfly/components/NotificationDrawer/notification-drawer.scss';

// Layouts
@import 'node_modules/@patternfly/patternfly/layouts/Split/split.scss';
@import 'node_modules/@patternfly/patternfly/layouts/Flex/flex.scss';
@import 'node_modules/@patternfly/patternfly/layouts/Bullseye/bullseye.scss';

@import 'node_modules/@redhat-cloud-services/frontend-components/components/Spinner';
@import 'node_modules/@redhat-cloud-services/frontend-components/components/Skeleton';

// Accessibility
@import 'node_modules/@patternfly/patternfly/utilities/Accessibility/accessibility.scss';
@import 'node_modules/@patternfly/patternfly/utilities/Spacing/spacing.scss';

@import 'helpers.scss';

@import 'partials/_footer.scss';
@import 'partials/_sidebar.scss';

body {
    position: relative;
}

aside {
    overflow: auto !important;
}

.pf-c-about-modal-box__logo {
    display: none;
}

#no-access.pf-c-page__main {
    display: none;
}

.pf-c-page__header-tools[widget-type="InsightsToolbar"] {
    .pf-l-toolbar, .pf-c-toolbar, .pf-l-toolbar__group, .pf-c-toolbar__group {
        display: flex;
    }
}

// Page temp styles
.pf-c-page {
  --pf-c-page__sidebar--Transition:                 all 500ms cubic-bezier(.42, 0, .58, 1);
  --pf-m-emphasis--FontSize:                        var(--pf-global--FontSize--xl);
}

// Page layout styles
.pf-c-drawer__content, #root.pf-c-page__main, #temp.pf-c-page__main, #no-access.pf-c-page__main {
    height: 100%;
}

// Page root background color
.pf-c-page__main {
    &#root, &#no-access {
        background: var(--pf-c-page__main-section--BackgroundColor);
    }
}

// Landing page logout alert
.pf-c-alert.ins-c-alert__logout{
    position: absolute;
    top: var(--pf-c-page__header--MinHeight);
    right: var(--pf-c-page__header-tools--MarginRight);

}
// Header
.pf-c-page__header {
    overflow: visible;
    .ins-c-dropdown-item__stack {
        white-space: nowrap;
        * { color: var(--pf-c-dropdown__menu-item--disabled--Color); }
    }

    .ins-c-dropdown-item__stack--header,
    .ins-c-dropdown-item__stack--subValue {
        font-size: var(--pf-global--FontSize--xs);
    }

    .ins-c-dropdown-item__stack--subValue { padding-top: var(--pf-global--spacer--xs); }

    .pf-c-page__header-brand-link img { @include rem('height', 30px); }
    .pf-c-page__header-brand-toggle svg {
        @include rem('height', 21px);
        @include rem('width', 21px);
    }

    .pf-c-page__header-tools .pf-c-avatar {
        height: var(--pf-global--FontSize--4xl);
    }
}

// Brand
.pf-c-brand {
  fill: #fff;
  min-width: 200px;
  
  @media screen and (min-width: $pf-global--breakpoint--md) {
    width: 100%;
    min-width: auto;
  }
}

// Page sidebar
.pf-c-page__sidebar {
    grid-row-end: 4;
}

// Page footer
.ins-c-footer {
    grid-column-start: 1;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        grid-column-start: 2;
    }
}

// Card
.pf-c-card.pf-m-dark {
    @extend %pf-t-dark;
    background: transparent;
    box-shadow: none;

    &:hover {
        background: var(--pf-global--BackgroundColor--dark-transparent-200);
    }
}

// Loading
.ins-l-page__header--loading {
    .ins-c-skeleton { @include rem('height', 28px); }
}

.ins-c-page__header-brand--loading {
    .pf-c-button.pf-m-plain { top: 2px; }
}

.ins-c-loading-icon__home {
    // This height and width are not PF variables. This will take an adjustment to the SVG itself
    height: 34px;
    width: 34px;
    vertical-align: -0.1875em;
}

.ins-c-navigation__header-name--loading { width: 100%; }

.pf-m-user-skeleton {
    .ins-c-skeleton { width: 75px; }
    .pf-c-dropdown__toggle-icon { height: 1em; }
}

// abstract this
.ins-c-icon-inline {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;

    > *:not(:last-child) {
        margin-right: var(--pf-global--spacer--md);
    }
}

// Pen testing
.ins-c-pen-test {
    border-top: 3px solid #A18FFF;
}