$pf-v5-global--enable-reset: 'true';

@import '~@patternfly/patternfly/patternfly.scss';
@import '~@patternfly/patternfly/patternfly-addons.scss';
@import '~@patternfly/patternfly/utilities/Accessibility/accessibility.scss';
@import '~@patternfly/patternfly/utilities/Spacing/spacing.scss';
@import '~@redhat-cloud-services/frontend-components/FilterHooks/tagFilterHook.scss';

// Quick starts
@import '~@patternfly/quickstarts/dist/quickstarts.min';
@import '~@patternfly/patternfly/patternfly-theme-dark.scss';
// TODO: Bring these quick starts overrides into the lib instead 
.pfext-page-layout__title {
  margin-top: 0;
  padding-top: 23px;
}
.pfext-page-layout__content.pfext-is-dark {
  background: unset;
}

body {
  position: relative;
}

aside {
  overflow: auto !important;
}

.quickstarts-open ._pendo-badge {
  display:none !important;
} 

#chrome-app-render-root {
  height: 100vh;
}

.pf-v5-c-page.chr-c-page {
  .pf-v5-c-page__sidebar {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--pf-v5-global--palette--black-800);
  }
  &__hasBanner {
    grid-template-areas: "banner banner"
                         "header header"
                         "nav main";
  }
}

#no-access.pf-v5-c-page__main {
    display: none;
}

// Page temp styles
.pf-v5-c-page {
  --pf-m-emphasis--FontSize: var(--pf-v5-global--FontSize--xl);
}

// Page root background color
.pf-v5-c-page__main {
  &#root, &#no-access {
    background: var(--pf-v5-v5-c-page__main-section--BackgroundColor);
  }
}

// Landing page logout alert
.pf-v5-c-alert.chr-c-alert {
  position: absolute;
  top: var(--pf-v5-v5-c-page__header--MinHeight);
  right: var(--pf-v5-v5-c-page__header-tools--MarginRight);
}

// Page sidebar
.pf-v5-c-page__sidebar {
  grid-row-end: 4;
}

.chr-render {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  > main {
      flex-grow: 1;
  }
}

@media only screen and (max-width: $pf-v5-global--breakpoint--md) {
  .ins-m-hide-on-md {display: none;}
}

@media only screen and (max-width: $pf-v5-global--breakpoint--sm) {
  .ins-m-hide-on-sm {display: none;}

  .ins-c-table-empty-state.pf-m-grid-md.pf-v5-c-table,
  .ins-c-table-empty-state.pf-m-grid-lg.pf-v5-c-table {
      [data-label] {
          --pf-v5-c-table--cell--hidden-visible--Display: 0;
      }
      tr:first-of-type {
          > td::before { 
              display: none; 
          }
      }
  }
}

/**
* Cookies banner overrides
*/
#truste-consent-track {
  /**
  * has to be set because of PF page overlaps the banner
  */
  z-index: 19001;
  position: fixed;
  bottom: 0;
  padding-left: var(--pf-global--spacer--xl);
  padding-right: var(--pf-global--spacer--xl);
  width: 100%;

  @media only screen and (max-width: $pf-global--breakpoint--lg) {
    .truste-banner {
      display: flex;
      flex-direction: column;
    }
  }
}


// centers modals when a quick start drawer is open
.pfext-quick-start-drawer__body {
    .pf-v5-c-backdrop {
      --pf-v5-c-backdrop--Position: absolute;
    }
  }
  
// fix quickstarts drawer overflow for long quickstart/helptopic content
#chrome-entry {
  height: 100vh;
}

.chr-c-favorite-trigger {
  cursor: pointer;
  .chr-c-icon-star {
    --pf-v5-c-icon__content--Color: var(--pf-v5-global--Color--light-100);
  }
  &:hover {
    .pf-v5-c-icon {
      --pf-v5-c-icon__content--Color: var(--pf-v5-global--icon--Color--light);
      &:hover {
        --pf-v5-c-icon__content--Color: var(--pf-v5-global--icon--Color--dark);
      }
    }
    .pf-v5-c-icon-external-link, .pf-v5-c-icon-external-link:hover {
      --pf-v5-c-icon__content--Color: var(--pf-v5-global--active-color--100);
    }
  }
}
.chr-c-favorite-trigger.chr-c-icon-favorited {
  .pf-v5-c-icon {
    --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--gold-400);
    &:hover {
      --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--gold-500);
      .chr-c-icon-external-link, .chr-c-icon-external-link:hover {
        --pf-v5-c-icon__content--Color: var(--pf-v5-global--active-color--100);
      }
    }
  }
}

.chr-c-link-favorite-card { //trigger not needed here
  .pf-v5-c-icon {
    --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--gold-400);
    &:hover {
      --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--gold-500);
      .chr-c-icon-external-link, .chr-c-icon-external-link:hover {
        --pf-v5-c-icon__content--Color: var(--pf-v5-global--active-color--100);
      }
    }
  }
}

