$pf-v6-global--enable-reset: 'true';

@import '~@patternfly/patternfly/sass-utilities/_index';
@import '~@redhat-cloud-services/frontend-components/FilterHooks/tagFilterHook.scss';

// TODO: Bring these quick starts overrides into the lib instead 
.pfext-page-layout__title {
  margin-top: 0;
  padding-top: 23px;
}
.pfext-page-layout__content.pfext-is-dark {
  background: unset;
}

body {
  position: relative;
}

aside {
  overflow: auto !important;
}

.quickstarts-open ._pendo-badge {
  display:none !important;
} 

#chrome-app-render-root {
  height: 100vh;
}

.pf-v6-c-page.chr-c-page {
  .pf-v6-c-page__sidebar {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: var(--pf-t--global--border--color--on-secondary);
  }
  &__hasBanner {
    grid-template-areas: "banner banner"
                         "header header"
                         "nav main";
  }
}

#no-access.pf-v6-c-page__main {
    display: none;
}

// Page temp styles
.pf-v6-c-page {
  --pf-m-emphasis--FontSize: var(--pf-t--global--font--size--xl);
}

// Page root background color
.pf-v6-c-page__main {
  &#root, &#no-access {
    background: var(--pf-v6-c-page__main-section--BackgroundColor);
  }
}

// temp replacement for non-working PF4 variables
.pf-c-page__main-section {
  // padding: var(--pf-c-page__main-section--PaddingTop) var(--pf-c-page__main-section--PaddingRight) var(--pf-c-page__main-section--PaddingBottom) var(--pf-c-page__main-section--PaddingLeft);
  padding: 24px;
}
.pf-c-page__main-section.pf-m-light {
  // --pf-c-page__main-section--BackgroundColor: var(--pf-c-page__main-section--m-light--BackgroundColor);
  --pf-c-page__main-section--BackgroundColor: #fff;
}

// Landing page logout alert
.pf-v6-c-alert.chr-c-alert {
  position: absolute;
  top: var(--pf-v6-c-page__header--MinHeight);
  right: var(--pf-v6-c-page__header-tools--MarginRight);
}

// Page sidebar
.pf-v6-c-page__sidebar {
  grid-row-end: 4;
}

.chr-render {
  display: flex;
  flex-direction: column;
  > main {
      flex-grow: 1;
  }
}

/** We need some adjustments to the minimal height of the default layout with the new footer.
* The footer is tall and during the module loading process, it create "rubber banding" effect as the loading
* elements change during different stages. 
*/
@media screen and (min-width : $pf-v6-global--breakpoint--2xl) {
  .chr-scope__default-layout {
    // we do not have PF variables for the header height unfortunately
    min-height: calc(100vh - 172px /** the size of the masthead on double extra large screens */);
  }
}


@media screen and (min-width : $pf-v6-global--breakpoint--md) and (max-width : $pf-v6-global--breakpoint--2xl)  {
  .chr-scope__default-layout {
    min-height: calc(100vh - 226px /** the size of the masthead on extra large screens */);
  };
}

@media only screen and (max-width: $pf-v6-global--breakpoint--md) {
  .ins-m-hide-on-md {display: none;}

  .chr-scope__default-layout {
    min-height: calc(100vh - 226px /** the size of the masthead on medium screens */);
  };
}

@media only screen and (max-width: $pf-v6-global--breakpoint--sm) {
  .ins-m-hide-on-sm {display: none;}

  .chr-scope__default-layout {
    min-height: calc(100vh - 226px /** the size of the masthead on small screens */);
  };

  .ins-c-table-empty-state.pf-m-grid-md.pf-v6-c-table,
  .ins-c-table-empty-state.pf-m-grid-lg.pf-v6-c-table {
      [data-label] {
          --pf-v6-c-table--cell--hidden-visible--Display: 0;
      }
      tr:first-of-type {
          > td::before { 
              display: none; 
          }
      }
  }
}

/**
* Cookies banner overrides
*/
#truste-consent-track {
  /**
  * has to be set because of PF page overlaps the banner
  */
  z-index: 19001;
  position: fixed;
  bottom: 0;
  padding-left: var(--pf-t--global--spacer--xl);
  padding-right: var(--pf-t--global--spacer--xl);
  width: 100%;

  @media only screen and (max-width: $pf-v6-global--breakpoint--lg) {
    .truste-banner {
      display: flex;
      flex-direction: column;
    }
  }
}


// centers modals when a quick start drawer is open
.pfext-quick-start-drawer__body {
    .pf-v6-c-backdrop {
      --pf-v6-c-backdrop--Position: absolute;
    }
  }

// https://github.com/patternfly/patternfly-quickstarts/issues/392
.pfext-quick-start-task .pf-v6-c-wizard {
  height: initial;
}

// remove float from restart button so it's not obscured by pendo or the va badge
.pfext-quick-start-footer__restartbtn {
  float: none;
}
  
// fix quickstarts drawer overflow for long quickstart/helptopic content
#chrome-entry {
  height: 100vh;
}
.chr-c-favorite-trigger {
  cursor: pointer;
  .pf-v6-c-icon { // AllServicesLink
    color: var(--pf-t--global--background--color--disabled--default);
  }
  .pf-v6-c-button { // AllServicesGalleryLink
     background: none;
    .pf-v6-c-icon {
      --pf-v6-c-icon__content--Color: var(--pf-t--global--background--color--disabled--default);
    }
  }
}
.chr-c-favorite-trigger.chr-c-icon-favorited {
  .pf-v6-c-icon {
    --pf-v6-c-icon__content--Color: var(--pf-t--global--icon--color--favorite--default);
  }
}
.chr-c-link-favorite-card { //trigger not needed here
  .pf-v6-c-icon {
    --pf-v6-c-icon__content--Color: var(--pf-t--global--icon--color--favorite--default);
    &:hover {
      --pf-v6-c-icon__content--Color: var(--pf-t--global--icon--color--favorite--hover);
      .chr-c-icon-external-link, .chr-c-icon-external-link:hover {
        --pf-v6-c-icon__content--Color: var(--pf-t--global--text--color--link--hover);
      }
    }
  }
}

.chr-render {
  font-size: 16px !important;
}

.chr-m-plain {
  text-decoration: none;
}
