$pf-global--enable-reset: 'true';

@import '~@patternfly/patternfly/patternfly-base.scss';

// Quick starts
@import '~@patternfly/quickstarts/dist/quickstarts.min';
// TODO: Bring these quick starts overrides into the lib instead 
.pfext-page-layout__title {
    margin-top: 0;
    padding-top: 23px;
}
.pfext-page-layout__content.pfext-is-dark {
    background: unset;
}

// Components
@import '~@patternfly/patternfly/components/Toolbar/toolbar.scss';
@import '~@patternfly/patternfly/components/Page/page.scss';
@import '~@patternfly/patternfly/components/BackgroundImage/background-image.scss';
@import '~@patternfly/patternfly/components/Nav/nav.scss';
@import '~@patternfly/patternfly/components/Button/button.scss';
@import '~@patternfly/patternfly/components/Dropdown/dropdown.scss';
@import '~@patternfly/patternfly/components/Avatar/avatar.scss';
@import '~@patternfly/patternfly/components/Title/title.scss';
@import '~@patternfly/patternfly/components/AboutModalBox/about-modal-box.scss';
@import '~@patternfly/patternfly/components/ModalBox/modal-box.scss';
@import '~@patternfly/patternfly/components/Backdrop/backdrop.scss';
@import '~@patternfly/patternfly/components/Switch/switch.scss';
@import '~@patternfly/patternfly/components/Alert/alert.scss';

// Layouts
@import '~@patternfly/patternfly/layouts/Split/split.scss';
@import '~@patternfly/patternfly/layouts/Flex/flex.scss';
@import '~@patternfly/patternfly/layouts/Bullseye/bullseye.scss';

// Accessibility
@import '~@patternfly/patternfly/utilities/Accessibility/accessibility.scss';
@import '~@patternfly/patternfly/utilities/Spacing/spacing.scss';
@import '~@redhat-cloud-services/frontend-components/FilterHooks/tagFilterHook.scss';

@import 'helpers.scss';

@import 'partials/_footer.scss';

body {
    position: relative;
}

aside {
    overflow: auto !important;
}

.inc-c-chrome__root-element {
    min-height: 100vh;
}

.pf-c-page.ins-c-page__hasBanner {
    grid-template-areas: "banner banner"
                         "header header"
                         "nav main";
}

.ins-c-header-link {
    display: flex;
}

#no-access.pf-c-page__main {
    display: none;
}

.pf-c-page__header-tools[widget-type="InsightsToolbar"] {
    .pf-l-toolbar, .pf-c-toolbar, .pf-l-toolbar__group, .pf-c-toolbar__group {
        display: flex;
    }
}

// Page temp styles
.pf-c-page {
    --pf-c-page__sidebar--Transition: all 500ms cubic-bezier(.42, 0, .58, 1);
    --pf-m-emphasis--FontSize: var(--pf-global--FontSize--xl);

    .ins-m-full--height { height: 100%; }

    .ins-c-chrome__global-filter {
        padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
        background: var(--pf-global--BackgroundColor--100);

        .pf-c-chip-group { margin-right: var(--pf-global--spacer--xs); }
        .ins-m-sticky { background: var(--pf-global--palette--blue-50); }
        .ins-m-permanent button { display: none; }
        .pf-l-split__item:first-of-type { min-width: 150px;}

        .ins-c-tagfilter {
            width: 100%;

            &.pf-m-expanded { width: 450px; }
            .pf-c-select__menu {
                max-height: 400px;
                overflow: auto;
            }

            .pf-c-select__menu li button:hover label .pf-c-badge.pf-m-read {
                background: var(--pf-global--Color--light-100);
            }

            .ins-c-tagfilter__option-value {
                max-width: 360px;
            }
        }
    }
}

// Page root background color
.pf-c-page__main {
    &#root, &#no-access {
        background: var(--pf-c-page__main-section--BackgroundColor);
    }
}

// Landing page logout alert
.pf-c-alert.ins-c-alert {
    position: absolute;
    top: var(--pf-c-page__header--MinHeight);
    right: var(--pf-c-page__header-tools--MarginRight);
}

// Header
.pf-c-page__header {
    overflow: visible;
    .ins-c-dropdown-item__stack {
        white-space: nowrap;
        * { color: var(--pf-c-dropdown__menu-item--disabled--Color); }
    }

    .ins-c-dropdown-item__stack--header,
    .ins-c-dropdown-item__stack--subValue {
        font-size: var(--pf-global--FontSize--xs);
    }

    .ins-c-dropdown-item__stack--subValue { padding-top: var(--pf-global--spacer--xs); }

    .pf-c-page__header-brand-link img { @include rem('height', 30px); }
    .pf-c-page__header-brand-toggle svg {
        @include rem('height', 21px);
        @include rem('width', 21px);
    }

    .pf-c-page__header-tools .pf-c-avatar {
        height: var(--pf-global--FontSize--4xl);
    }
}

// Brand
.pf-c-brand {
    fill: #fff;
    min-width: 200px;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        width: 100%;
        min-width: auto;
    }
}

// Page sidebar
.pf-c-page__sidebar {
    grid-row-end: 4;
}

/**
* patch for issue: https://github.com/patternfly/patternfly-react/issues/6540
* navigation arrow is always looking as if the expandable section is expanded
*/
.pf-c-nav__item .pf-c-nav__toggle-icon {
    transform: none !important;
}

.pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle-icon, .pf-c-nav__item .pf-c-nav__item.pf-m-expanded .pf-c-nav__toggle-icon {
    transform: rotate(var(--pf-c-nav__item--m-expanded__toggle-icon--Rotate)) !important;
}


// Page footer
.ins-c-footer {
    grid-column-start: 1;

    @media screen and (min-width: $pf-global--breakpoint--md) {
        grid-column-start: 2;
    }
}

// Loading
.ins-l-page__header--loading {
    .ins-c-skeleton { @include rem('height', 28px); }
}

.ins-c-page__header-brand--loading {
    .pf-c-button.pf-m-plain { top: 2px; }
}

section.ins-c-app-switcher--loading {
    padding: calc(16px + var(--pf-global--spacer--sm)) 24px;
    margin-top: 7px;
    border-bottom: 3px solid #3c3f42;
}

.pf-m-user-skeleton {
    .ins-c-skeleton { width: 75px; }
    .pf-c-dropdown__toggle-icon { height: 1em; }
}

.ins-c-skeleton__link {
    width: 100%;
}

// Pen testing
.ins-c-pen-test {
    border-top: 3px solid #A18FFF;
}

// PF navigation text alignment fix
.ins-m-navigation-align {
    .pf-c-nav__link {
        text-align: inherit;
    }
}

.ins-c-render {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    > main {
        flex-grow: 1;
    }
}

@media only screen and (max-width: $pf-global--breakpoint--md) {
    .ins-m-hide-on-md {display: none;}
}

@media only screen and (max-width: $pf-global--breakpoint--sm) {
    .ins-m-hide-on-sm {display: none;}

    .ins-c-table-empty-state.pf-m-grid-md.pf-c-table,
    .ins-c-table-empty-state.pf-m-grid-lg.pf-c-table {
        [data-label] {
            --pf-c-table--cell--hidden-visible--Display: 0;
        }
        tr:first-of-type {
            > td::before { 
                display: none; 
            }
        }
    }
}

