$pf-global--enable-reset: 'true';
$pf-global--image-path: '/insights/static/chrome/assets/images/';

@import 'node_modules/@patternfly/patternfly-next/patternfly-base.scss';


@import 'helpers.scss';

// Layouts
@import 'node_modules/@patternfly/patternfly-next/layouts/Page/styles.scss';
@import 'node_modules/@patternfly/patternfly-next/layouts/Toolbar/styles.scss';

// Components
@import 'node_modules/@patternfly/patternfly-next/components/BackgroundImage/styles.scss';
@import 'node_modules/@patternfly/patternfly-next/components/NavSystem/styles.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Button/styles.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Dropdown/styles.scss';
@import 'node_modules/@patternfly/patternfly-next/components/Avatar/styles.scss';

// Accessibility
@import 'node_modules/@patternfly/patternfly-next/utilities/Accessibility/styles.scss';

// Partials
@import 'partials/_footer.scss';
@import 'partials/_topbar.scss';
@import 'partials/_sidenav.scss';

.pf-l-page {
  --pf-l-page__header-brand--FlexBasis--lg:         290px;
  --pf-l-page__sidebar--Width--lg:                  290px;
  --pf-l-page__header--MinHeight:                   110px;
  --pf-l-page__header-brand-logo--Height:           11px;
  --pf-l-page__header-brand--BackgroundColor--md:   #{$pf-global--BackgroundColor--dark-transparent-100};
  --pf-l-page__sidebar--Transition:                 all 500ms cubic-bezier(.42, 0, .58, 1);
}

.pf-c-nav {
  --pf-c-nav--Width:                                290px;
}



// Local
.pf-c-brand {
  fill: #fff;
  width: 150px;
}

.pf-l-page__header-brand {
  // background-color: #000;
}

// #root {
//     height: 100%;
//     background: #f5f5f5;
//   }
  
// html, body {
//     height: 100vh;
//     width: 100vw;
//     margin: 0;
//     font-family: 'Overpass', 'OpenSans', sans-serif;
//     text-rendering: optimizeLegibility;
//     display: grid;
//     grid-template-areas: 'topbar topbar'
//                         'sidenav content'
//                         'sidenav footer';
//     grid-template-rows: min-content 1fr min-content;
//     grid-template-columns: 1fr 9fr;

//     .topbar {
//     grid-area: topbar;
//     }

//     .footer {
//     grid-area: footer;
//     }

//     .sidenav {
//     grid-area: sidenav;
//     }

//     #root {
//     grid-area: content;
//     }
// }