
.ins-entity-table.pf-c-table .pf-c-table__check {
  position: inherit;
}

.ins-c-inventory__detail--general-info:not(.ins-inventory-detail) {
    background: var(--pf-global--BackgroundColor--100);
}

.pf-c-page__main .ins-inventory-detail+section.pf-c-page__main-section {
    padding: 0;

    div[class*="ins-active-app-"] {
        padding: var(--pf-global--spacer--lg);

        .ins-c-inventory__loading {
            text-align: center;
        }
    }

    .ins-active-app-general_information {
        background: var(--pf-global--BackgroundColor--100);
    }
}
