@use '~@patternfly/patternfly/patternfly.scss';
@use '~@patternfly/patternfly/patternfly-addons.scss';
@use '~@patternfly/patternfly/utilities/Accessibility/accessibility.scss';
@use '~@patternfly/patternfly/utilities/Spacing/spacing.scss';

// Quick starts
@use '~@patternfly/quickstarts/dist/quickstarts.min';