{
  "presets": ["es2015"],
  "plugins": [
    "transform-inline-environment-variables",
    "transform-object-rest-spread",
    "babel-plugin-syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-dynamic-import-node"]
    }
  }
}
