{
  "presets": [
      [
        "@babel/env",
        {
            "targets": "> 0.25%, not dead"
        }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "transform-inline-environment-variables",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
        "plugins": [
            "babel-plugin-rewire",
            "babel-plugin-dynamic-import-node"
        ]
    }
  }
}
