{
  "presets": [
      [
        "@babel/preset-env",
        {
            "targets": "> 0.25%, not dead"
        }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread",
    "babel-plugin-lodash"
  ],
  "env": {
    "test": {
        "plugins": [
            "babel-plugin-rewire",
            "babel-plugin-dynamic-import-node"
        ]
    }
  }
}
