build/
node_modules/
public/

#emacs
*[#]*[#]
*[#]*
*~
*#

#vim
tags
*.swp
*.swo
Session.vim
.agignore
.lvimrc

#other
.DS_Store
.cache
.idea/
.vscode/
coverage/
.nyc_output
cypress-coverage
.yalc
yalc.lock

# cypress diff snapshots
cypress/**/*.diff.png
cypress/videos
cypress/screenshots
cypress/downloads

# cache
.cache
.webpack-cache
.cypress-cache
.sass-cache

#swc
.swc
.cypress_cache

# Sentry Config File
.env.sentry-build-plugin

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
