build/
node_modules/

#emacs
*[#]*[#]
*[#]*
*~
*#

#vim
tags
*.swp
*.swo
Session.vim
.agignore
.lvimrc

#other
.DS_Store
.cache
.idea/
.vscode/
coverage/

# cypress diff snapshots
cypress/**/*.diff.png

# cache
.cache

#swc
.swc
