build/
node_modules/
public/

#emacs
*[#]*[#]
*[#]*
*~
*#

#vim
tags
*.swp
*.swo
Session.vim
.agignore
.lvimrc

#other
.DS_Store
.cache
.idea/
.vscode/
coverage/

# cypress diff snapshots
cypress/**/*.diff.png
cypress/videos
cypress/screenshots

# cache
.cache
.webpack-cache
.cypress-cache
.sass-cache

#swc
.swc
.cypress_cache
