meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
base(href=`${ release === 'insights' ? '/' : '/beta/'}`)
link(rel="icon"  type="image/png" href="https://access.redhat.com/webassets/avalon/g/favicon.ico")
link(rel='stylesheet', href=`./apps/chrome/${ chromeCSS }`)
//- Add sentry here so other apps can use it
script(src="https://browser.sentry-cdn.com/5.15.0/bundle.min.js", crossorigin="anonymous")