meta(http-equiv="Content-Security-Policy" content="default-src 'self' https: 'unsafe-inline' 'unsafe-eval' https://*.redhat.com/ https://www.redhat.com  https://*.openshift.com/ https://api.stage.openshift.com/ https://identity.api.openshift.com/ https://www.youtube.com/ https://redhat.sc.omtrdc.net/ https://assets.adobedtm.com https://www.redhat.com https://*.storage.googleapis.com/;")
meta(http-equiv="Pragma" content="no-cache")
meta(http-equiv="cache-control" content="no-cache, no-store, must-revalidate")
meta(http-equiv="x-ua-compatible" content="ie=edge")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
meta(meta name="google-site-verification" content="HR3Hh5U0b2Fevl_JnxOG8wExAVjrnOR810epP5_1QHs")
base(href=`${ release === 'insightsbeta' ? '/beta/' : '/'}`)
link(rel="icon"  type="image/png" href="https://access.redhat.com/webassets/avalon/g/favicon.ico")
if chromeCSS
    link(rel='stylesheet', href=`./apps/chrome/${ chromeCSS }`)
//- temporary flag to identify chrome 2. This us used by the application to prevent ReactDOM.render in migrated apps.
<script type="text/javascript"> window.insights = {chrome: { isChrome2: true }} </script>
