.pf-c-page__header-tools(widget-type='InsightsToolbar')
    include ../slices/tools.pug
    .pf-c-page__header-tools-group
        include ../slices/mobileKebab.pug
        include ../slices/userDropdown.pug
