.pf-c-page__header-brand-toggle
    button.pf-c-button.pf-m-plain(aria-label='Toggle primary navigation' widget-type='InsightsNavToggle' type='button')
        img(src='apps/chrome/assets/images/primary-nav-hamburger-toggle.svg')
