.pf-c-page__header-tools-group.pf-m-icons
    button.pf-c-button.pf-m-plain(aria-label='Settings' widget-type='SettingsButton' type='button')
        img(src='apps/chrome/assets/images/settings-button.svg')
    button.pf-c-button.pf-m-plain(aria-label='Overflow FAQ' widget-type='InsightsFAQ' type='button')
        img(src='apps/chrome/assets/images/faq-button.svg')
