// TODO: use PF variables when exact spacing is known
.ins-c-page__app-filter-toggle {
    margin-left: 20px;
    max-width: 250px;
}

@media screen and (max-width: 998px) { 
   .ins-c-page__app-filter-toggle {
      display: none;
   }
}

.ins-c-page__app-filter-search {
    width: 300px;
    .pf-c-search-input__icon {
        color: var(--pf-global--BackgroundColor--dark-100);
    }
    .pf-c-search-input__text-input{
        color: var(--pf-global--BackgroundColor--dark-100);
    }
}

.ins-c-page__app-filter-content {
    left: 100px;
    margin-left: var(--pf-global--spacer--sm);
    padding: var(--pf-global--spacer--xl);
    div.gallery {
        margin-top: var(--pf-global--spacer--xl);
        column-gap: 0;
    }
    @media screen and (min-width: 768px) { 
      div.gallery {
        column-count: 1;
      }
    }
    @media screen and (min-width: 992px) { 
      div.gallery {
        column-count: 2;
      }
    }
    @media screen and (min-width: 1300px) { 
      div.gallery {
        column-count: 3;
      }
    }
    div.galleryItem {
        display: inline-block;
        margin-bottom: var(--pf-global--spacer--xl);
        width: 350px;
        .pf-l-split {
            .pf-l-split__item:first-of-type {
                margin-right: var(--pf-global--spacer--md);
                width: var(--pf-global--spacer--2xl);
                img {
                    width: var(--pf-global--icon--FontSize--xl);
                }
            }
            .pf-l-split__item {
                h4 {
                    color: var(--pf-global--BackgroundColor--dark-100);
                    font: var(--pf-global--FontFamily--redhatfont--heading--sans-serif);
                    font-weight:  var(--pf-global--FontWeight--normal);
                }
                p {
                    margin-bottom: var(--pf-global--spacer--sm);
                }
                a {
                    color: var(--pf-global--active-color--100);
                }
            }
        }
    }
}
