.ins-c-page__app-filter-dropdown {
    .pf-c-dropdown__toggle {
        margin-left: var(--pf-global--spacer--xl);
        max-width: 250px;
    }
    .pf-c-dropdown__menu {
        left: 42px;
        margin-top: var(--pf-global--spacer--md);
        min-width: 100%;
        padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--xl) 0 var(--pf-global--spacer--xl);
        .pf-c-search-input {
            width: 300px;
            &__icon {
                color: var(--pf-global--BackgroundColor--dark-100);
            }
            &__text-input{
                color: var(--pf-global--BackgroundColor--dark-100);
            }
        }

        .pf-c-empty-state {
            --pf-c-empty-state__body--Color: #6a6e73;
            h4 {
                color: var(--pf-global--BackgroundColor--dark-100);
                font-size: var(--pf-c-title--m-xl--FontSize);
            }
            button {
                color: var(--pf-global--active-color--100);
            }
        }
        div.gallery {
            margin-top: var(--pf-global--spacer--xl);
            column-gap: 32px;
        }
        @media screen and (max-width: 1499px) { 
          div.gallery {
            column-count: 2;
          }
        }
        @media screen and (min-width: 1500px) { 
          div.gallery {
            column-count: 3;
          }
        }
        div.galleryItem {
            display: inline-block;
            margin-bottom: var(--pf-global--spacer--xl);
            width: 350px;
            .pf-l-split {
                .left {
                    width: 60px;
                    img {
                      width: 36px;
                    }
                }
                .right {
                    h4 {
                        color: var(--pf-global--BackgroundColor--dark-100);
                        font: "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif; //--pf-global--FontFamily--heading--sans-serif
                        font-weight:  var(--pf-global--FontWeight--normal);
                        margin-bottom: var(--pf-global--spacer--md);
                        white-space: nowrap;
                    }
                    p {
                        margin-bottom: var(--pf-global--spacer--sm);
                    }
                    a {
                        white-space: nowrap;
                        color: var(--pf-global--active-color--100);
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 1199px) { 
  .ins-c-page__app-filter-dropdown {
    display: none !important;
  }
}

