@media screen and (max-width:768px) {
  .pf-c-page__header {
    &-tools-group {
      margin-left: 0 !important;
    }
    &-tools {
      padding-right: 0;
    }
  }
}

.pf-c-page__header {
  .pf-c-backdrop {
    z-index: -10;
  }
}

.pf-c-dropdown {
  &.ins-c-page__app-filter-dropdown-toggle {
    .pf-c-dropdown__menu {
      display: none;
    }
    .pf-c-dropdown__toggle {
      display: inline-block;
      margin-left: 72px;
      margin-right: var(--pf-global--spacer--sm);
      position: relative;
      white-space: nowrap;
      &::before {
        --pf-c-dropdown__toggle--before--BorderTopColor: var(--pf-global--disabled-color--100);
        --pf-c-dropdown__toggle--before--BorderRightColor: var(--pf-global--disabled-color--100);
        --pf-c-dropdown__toggle--before--BorderLeftColor: var(--pf-global--disabled-color--100);
      }
    }
    @media screen and (max-width:768px) { 
        .pf-c-dropdown__toggle {
          margin-left: 10px;
        }
    }
  }
  
  &.ins-c-page__app-filter-dropdown-menu {
    position: absolute;
  
    .pf-c-dropdown__menu::before {
      z-index: -1;
    }
    .pf-c-dropdown__menu {
      left: 0;
      top: 78px;
      overflow-y:scroll;
      overflow-x:hidden;
      position: fixed; // allows menu to go full width
      .content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        .search {
          padding: var(--pf-global--spacer--xl) 0 var(--pf-global--spacer--xl) 0;
          justify-content: center;
          .pf-c-search-input {
            display: flex;
            width: 300px;
            &__icon {
                color: var(--pf-global--BackgroundColor--dark-100);
            }
            &__text-input{
                color: var(--pf-global--BackgroundColor--dark-100);
            }
          }
        }
        div.gallery {
          column-gap: var(--pf-global--spacer--lg);
          margin: 0 auto; // centers columns
        }
        div.galleryItem {
          display: block;
          padding-bottom: var(--pf-global--spacer--xl);
          width: 350px;
          overflow: hidden; // prevents padding from spilling into next column
          break-inside: avoid-column; // prevents padding from spilling into next column
          .pf-l-split {
            margin-top: auto;
            .pf-l-split__item {
              h4 {
                color: var(--pf-global--BackgroundColor--dark-100);
                font: "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif; //--pf-global--FontFamily--heading--sans-serif
                font-weight:  var(--pf-global--FontWeight--normal);
                margin-bottom: var(--pf-global--spacer--md);
                white-space: nowrap;
              }
              p {
                margin-bottom: var(--pf-global--spacer--sm);
              }
              a {
                white-space: nowrap;
                color: var(--pf-global--active-color--100);
              }
            }
          }
        }
      }
    }
    @media screen and (max-width:768px) { 
      .pf-c-dropdown__menu {
        bottom:0; // allows scrolling
        div.gallery {
          column-count: 1;
        }
      }
    }
    @media screen and (min-width: 769px) and (max-width: 1099px) {
      .pf-c-dropdown__menu {
        bottom: 0;  // allows scrolling
        div.gallery {
          column-count: 2;
          width: calc( 350px * 2 );
        }
      }
    }
    @media screen and (min-width: 1100px) and (max-width: 1549px) { 
      div.gallery {
        column-count: 3;
        width: calc( 350px * 3 );
      }
    }
  
    @media screen and (min-width: 1550px) { 
      div.gallery {
        column-count: 4;
        width: calc( 350px * 4 );
      }
    }
  
    .pf-c-empty-state {
      --pf-c-empty-state__body--Color: #6a6e73;
      h4 {
        color: var(--pf-global--BackgroundColor--dark-100);
        font-size: var(--pf-c-title--m-xl--FontSize);
      }
      button {
        color: var(--pf-global--active-color--100);
      }
    }
  }
}
