@import '~@patternfly/patternfly/sass-utilities/_all';
.ins-c-page__context-switcher-dropdown {
  .personal-account {
    width: 100%;
    text-align: left;
    .account-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .pf-c-context-selector__menu-list-item {
    svg {
      font-size: 9px;
    }
  }
}

@media screen and (max-width: $pf-global--breakpoint--lg) {
  .ins-c-page__context-switcher-dropdown {
    .pf-c-context-selector__toggle {
      display: none;
    }
  }
}
