@import '~@patternfly/patternfly/sass-utilities/_all';
.ins-c-page__context-switcher-dropdown {
  .personal-account {
    width: 100%;
    text-align: left;
    .account-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .pf-c-context-selector__toggle {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: auto;
    &::before {
      border-color: var(--pf-global--disabled-color--100);
    }
  }
  .pf-c-context-selector__menu-list-item {
    svg {
      font-size: 9px;
    }
  }
}

.context-switcher-banner {
  transition: margin-bottom .3s;
}

@media screen and (max-width: $pf-global--breakpoint--xl) {
  .ins-c-page__context-switcher-dropdown {
    .pf-c-context-selector__toggle {
      display: none;
    }
  }
}

