.chr-c-masthead {
  overflow: visible;
  .chr-c-dropdown-item__stack {
    white-space: nowrap;
    * { color: var(--pf-c-dropdown__menu-item--disabled--Color); }
  }
  .chr-c-dropdown-item__stack--header,
  .chr-c-dropdown-item__stack--subValue {
    font-size: var(--pf-global--FontSize--xs);
  }
  .chr-c-dropdown-item__stack--subValue { padding-top: var(--pf-global--spacer--xs); }

  .chr-c-brand {
    width: 220px;
  }
  .chr-c-badge-beta {
    background-color: var(--pf-global--palette--green-300);
    color: var(--pf-global--Color--dark-100);
  }
  .chr-c-dropdown-user-toggle {
    button::before {
      border-color: var(--pf-global--palette--black-900)
    }
    &.pf-m-expanded button::before, button:hover::before {
      border-bottom-color: var(--pf-global--primary-color--200)
    }    
  }
}

.chr-pen-test {
  border-top: 3px solid var(--pf-global--palette--purple-300);
}
