@import '~@red-hat-insights/insights-frontend-components/Utilities/_mixins.scss';

.pf-c-about-modal-box .ins-c-about-modal__footer {
    border-top: 1px solid #3b3b3b;
    @include rem('padding-top', 15px);
}

.pf-c-about-modal-box__hero {
    --pf-c-about-modal-box__hero--sm--BackgroundImage: url('../../../../static/images/pfbg_2000.jpg');
}
