@import '~@redhat-cloud-services/frontend-components-utilities/styles/_all.scss';
@import '~@patternfly/patternfly/sass-utilities/_all';

.pf-c-about-modal-box__content {
    --pf-c-about-modal-box__content--MarginTop: var(--pf-global--spacer--md);
    --pf-c-about-modal-box__content--MarginBottom: var(--pf-global--spacer--md);
}

.ins-c-page__about--modal dl {
    --pf-c-content--dl--RowGap: var(--pf-global--spacer--sm);
}

.ins-c-page__about--modal-footer {
    .copyright {
        color: var(--pf-global--Color--200);
        @include rem('margin-right', 30px);
    }

    * {
        font-size: var(--pf-global--FontSize--sm);
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $pf-global--breakpoint--lg) {
            flex-direction: row;
        }
    }

    li { list-style: none; }

    li + li {
        margin-top: 0;
        @media screen and (min-width: $pf-global--breakpoint--lg) {
            &::before {
                content: '|';
                color: var(--pf-global--Color--200);
                margin: 0 var(--pf-global--spacer--md);
            }
        }
    }
}

.ins-c-about-modal .pf-c-alert.ins-c-alert__copied .pf-c-alert__title { margin: 0; }