.ins-c-toolbar__menu-user#UserMenu{
    display: flex;
}

header.pf-c-page__header {
    button#SettingsMenu {
        span.ins-c-toolbar__beta-badge {
            background-color: var(--pf-global--palette--green-300);
            color: var(--pf-global--Color--dark-100);
            margin-right: var(--pf-global--spacer--sm);
        }
    }
}
