button.pf-c-button.chr-c-button-debugger {
  svg {
    transform: rotate(90deg);
  }
  position: fixed;
  z-index: var(--pf-global--ZIndex--xs);
  padding: var(--pf-global--BorderWidth--xl);
  padding-top: var(--pf-global--BorderWidth--lg);
  padding-bottom: var(--pf-global--BorderWidth--lg);
  right: var(--pf-global--height-breakpoint--sm);
  bottom: 250px;
  transform: rotate(270deg);
  background: var(--pf-global--danger-color--100);
  &:hover {
    background: var(--pf-global--palette--red-200);
  }
}

.chr-c-debugger-modal {
  margin: 0;
  padding: 0;
  max-height: calc(100vh - 200px);
  overflow-y: auto;

  .pf-c-content {
    margin-bottom: var(--pf-c-content--MarginBottom);
  }

  .pf-c-modal-box__body {
    padding: 0;
    margin: 0;
  }
  .pf-c-modal-box > .pf-c-button + *{
    margin-right: 0;
  }
  & .pf-c-modal-box__body {
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.chr-c-debugger-content {
  display: flex;
  flex-direction: column;
  padding-right: var(--pf-global--spacer--lg);
  padding-top: var(--pf-global--spacer--lg);
  margin: var(--pf-global--spacer--md);
}

.chr-c-debugger-dropdown {
  width: 200px;
}
