script(src='./apps/chrome/js/chrome.js')
script(type='text/javascript').
  if(!window.location.hostname.indexOf('foo') === -1) {
    if (("undefined" !== typeof _satellite) && ("function" === typeof _satellite.pageBottom)) {
    _satellite.pageBottom();
    }
  }