div.pf-c-page.pf-m-redhat-font#page
    div.pf-c-page__drawer#chrome-entry
        main.pf-c-page__main.pf-l-page__main#temp(role='temp', widget-type="InsightsTempPage", data-ouia-safe='false')
            section.pf-m-light.pf-c-page-header.pf-l-page-header.pf-c-page__main-section.pf-l-page__main-section.pf-m-light(widget-type="InsightsPageHeader")
                div.pf-c-content
                    h1.pf-c-title.pf-m-2xl.ins-l-page__header--loading(widget-type='InsightsPageHeaderTitle')
                        .ins-c-skeleton.ins-c-skeleton__sm &nbsp;
            section.pf-c-page__main-section.pf-l-page__main-section.pf-l-page__main-section--loading(page-type='inventory')
                .ins-c-spinner.ins-m-center(role='status')
                    span(class="pf-u-screen-reader") Loading...
include after.pug

main(
    id="root"
    role="main"
    hidden="true"
    style="display: none"
)
