a.pf-c-dropdown__menu-item(onClick='window.insights.chrome.auth.logout()') Logout
li.pf-c-dropdown__separator(role="separator")
button.pf-c-dropdown__menu-item.pf-c-dropdown__menu-item-account(aria-pressed='false', disabled)
    dl
    dt.account-number__header Account Number:
    dd.account-number__value