footer.footer
  include redhat-logo.pug
  p.copyright Copyright © 2018 Red Hat, Inc.
  nav
    a.nav-link(href='https://www.redhat.com/en/about/privacy-policy', target='_blank') Privacy Policy
    a.nav-link(href='https://access.redhat.com/help/terms/', target='_blank') Customer Portal Terms of Use
    a.nav-link(href='https://www.redhat.com/en/about/all-policies-guidelines', target='_blank') All Policies and Guidelines