//- This is the pre-production head used in {qa/ci}.cloud.redhat.com{/beta/}
include templates/head-block.pug
script(id="adobe_dtm" src="https://www.redhat.com/ma/dpal-staging.js" type="text/javascript")