header.pf-c-page__header.pf-l-page__header(role="banner")
    div.pf-c-page__header-brand.pf-l-page__header-brand
        div
            button.pf-c-button.pf-m-plain(aria-label='Toggle primary navigation' widget-type='InsightsNavToggle' type='button')
                img(src="static/chrome/assets/images/primary-nav-hamburger-toggle.svg")
        a.pf-c-page__header-brand-link.pf-l-page__header-brand-link(href='#')
            img(src="static/chrome/assets/images/logo-cs.svg")
    div.pf-c-page__header-tools.pf-l-page__header-tools(widget-type='InsightsToolbar')
        div.pf-c-toolbar
            div.pf-c-toolbar__group.pf-l-toolbar__group.pf-u-sr-only.pf-u-visible-on-lg
                //- div.pf-c-dropdown(aria-label='Settings')
                //-     button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-0(type='button' aria-expanded='false' aria-haspopup='true')
                //-         span.pf-c-dropdown__toggle-text
                //-             img(src="static/chrome/assets/images/settings-button.svg")
                div.pf-c-toolbar__item.pf-l-toolbar__item(data-key='0')
                    button.pf-c-button.pf-m-plain(aria-label='Overflow FAQ' widget-type='InsightsFAQ' type='button')
                        img(src="static/chrome/assets/images/faq-button.svg")
            dif.pf-c-toolbar__group.pf-l-toolbar__group
                div.pf-c-toolbar__item.pf-l-toolbar__item.pf-u-hidden-on-lg.pf-u-mr-0
                    div.pf-c-dropdown(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                        button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-1(aria-label='Actions' type='button' aria-expanded='false' aria-haspopup='true')
                            img(src="static/chrome/assets/images/overflow-actions-sm.svg")
                div.pf-c-toolbar__item.pf-l-toolbar__item.pf-u-sr-only.pf-u-visible-on-lg
                    div.pf-c-dropdown(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                        button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-1(type='button' aria-expanded='false' aria-haspopup='true')
                            span.pf-c-dropdown__toggle-text Logging in...
                            img(src="static/chrome/assets/images/overflow-actions-lg.svg")
