header.pf-c-page__header.pf-l-page__header(role="banner")
    .pf-c-page__header-brand.pf-l-page__header-brand.ins-c-page__header-brand--loading
        .pf-c-page__header-brand-toggle
            button.pf-c-button.pf-m-plain(aria-label='Toggle primary navigation' widget-type='InsightsNavToggle' type='button')
                img(src="apps/chrome/assets/images/primary-nav-hamburger-toggle.svg")
        a.pf-c-page__header-brand-link.pf-l-page__header-brand-link(href='#')
            img(src="apps/chrome/assets/images/logo.svg")
    .pf-c-page__header-tools.pf-l-page__header-tools(widget-type='InsightsToolbar')
        .pf-c-toolbar.ins-c-header-toolbar__loading
            .pf-c-toolbar__group.pf-l-toolbar__group.pf-u-screen-reader.pf-u-visible-on-lg
                //- .pf-c-dropdown(aria-label='Settings')
                //-     button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-0(type='button' aria-expanded='false' aria-haspopup='true')
                //-         span.pf-c-dropdown__toggle-text
                //-             img(src="apps/chrome/assets/images/settings-button.svg")
                .pf-c-toolbar__item.pf-l-toolbar__item(data-key='0')
                    button.pf-c-button.pf-m-plain(aria-label='Overflow FAQ' widget-type='InsightsFAQ' type='button')
                        img(src="apps/chrome/assets/images/faq-button.svg")
            dif.pf-c-toolbar__group.pf-l-toolbar__group
                .pf-c-toolbar__item.pf-l-toolbar__item.pf-u-hidden-on-lg.pf-u-mr-0
                    .pf-c-dropdown(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                        button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-1(aria-label='Actions' type='button' aria-expanded='false' aria-haspopup='true')
                            img(src="apps/chrome/assets/images/overflow-actions-sm.svg")
                .pf-c-toolbar__item.pf-l-toolbar__item.pf-u-screen-reader.pf-u-visible-on-lg
                    .pf-c-dropdown(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                        button.pf-c-dropdown__toggle.pf-m-plain#pf-toggle-id-1(type='button' aria-expanded='false' aria-haspopup='true')
                            span.pf-c-dropdown__toggle-text Logging in...
                            img(src="apps/chrome/assets/images/overflow-actions-lg.svg")
        img.pf-c-avatar(src="apps/chrome/assets/images/img_avatar.svg" alt="Avatar Image")
