header.pf-l-page__header(role="banner")
  .pf-l-page__header-brand
    .pf-l-page__header-brand-toggle
      button#nav-toggle.pf-c-button.pf-m-plain(aria-label='Toggle primary navigation', onclick='navToggle()' widget-type='InsightsNavToggle')
        i.fas.fa-bars.fa-w-14
    a.pf-l-page__header-brand-link(href="/insights/platform/dashboard/" widget-type='InsightsBrand')
      include insights-logo.pug
  .pf-l-page__header-tools(widget-type='InsightsToolbar')
    .pf-l-toolbar
      .pf-l-toolbar__group.pf-u-sr-only.pf-u-visible-on-lg
        .pf-l-toolbar__item
          button.pf-c-button.pf-m-plain.pf-m-lg(aria-label='Overflow search' widget-type='InsightsSearch')
            i.fas.fa-search
        .pf-l-toolbar__item
          button.pf-c-button.pf-m-plain.pf-m-lg(aria-label='Overflow notifications' widget-type='InsightsNotifications')
            i.fas.fa-bell
        .pf-l-toolbar__item
          button.pf-c-button.pf-m-plain.pf-m-lg(aria-label='Overflow settings' widget-type='InsightsSettings')
            i.fas.fa-cog
        .pf-l-toolbar__item
          button.pf-c-button.pf-m-plain.pf-m-lg(aria-label='Overflow faq' widget-type='InsightsFAQ')
            i.fas.fa-question-circle
      .pf-l-toolbar__group
        .pf-l-toolbar__item.pf-u-hidden-on-lg.pf-u-mr-0
          button.pf-c-button.pf-m-plain.pf-m-lg(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
            i.fas.fa-ellipsis-v
        .pf-l-toolbar__item.pf-u-sr-only.pf-u-visible-on-lg
          .pf-c-dropdown.pf-m-align-right
            button#dropdown-user.pf-c-dropdown__toggle.user-info(aria-haspopup='true', aria-expanded='false' , onclick='dropdownToggle()')
            ul.pf-c-dropdown__menu(aria-labelledby='dropdown-user', hidden)
              li
                a.pf-c-dropdown__menu-item(onClick='window.insights.chrome.auth.logout()') Logout
                li.pf-c-dropdown__separator(role="separator")
                button.pf-c-dropdown__menu-item.pf-c-dropdown__menu-item-account(aria-pressed='false', disabled)
                  dl
                    dt.account-number__header Account Number:
                    dd.account-number__value
