svg.pf-c-background-image__filter(xmlns='http://www.w3.org/2000/svg' width='0' height='0')
    filter#image_overlay(width='')
        fecolormatrix(type='matrix' values='1 0 0 0 0\
        1 0 0 0 0\
        1 0 0 0 0\
        0 0 0 1 0')
        fecomponenttransfer(color-interpolation-filters='sRGB' result='duotone')
            fefuncr(type='table' tablevalues='0.086274509803922 0.43921568627451')
            fefuncg(type='table' tablevalues='0.086274509803922 0.43921568627451')
            fefuncb(type='table' tablevalues='0.086274509803922 0.43921568627451')
            fefunca(type='table' tablevalues='0 1')