header.pf-c-page__header(role='banner')
    .pf-c-page__header-brand.ins-c-page__header-brand--loading
        .pf-c-page__header-brand-toggle(hidden)
        a.pf-c-page__header-brand-link(href='#')
            img(src='apps/chrome/assets/images/logo.svg' alt='cloud.redhat.com logo')
    .pf-c-page__header-tools(widget-type='InsightsToolbar')
        .pf-c-page__header-tools-group.pf-m-icons
            button.pf-c-button.pf-m-plain(aria-label='Settings' widget-type='SettingsButton' type='button')
                img(src='apps/chrome/assets/images/settings-button.svg')
            button.pf-c-button.pf-m-plain(aria-label='Overflow FAQ' widget-type='InsightsFAQ' type='button')
                img(src='apps/chrome/assets/images/faq-button.svg')
        .pf-c-page__header-tools-group
            .pf-c-dropdown.pf-u-hidden-on-lg(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                button.pf-c-dropdown__toggle.pf-m-plain(aria-label='Actions' type='button' aria-expanded='false' aria-haspopup='true')
                    img(src='apps/chrome/assets/images/overflow-actions-sm.svg')
            .pf-m-user.pf-m-user-skeleton
                .pf-c-dropdown(aria-label='Overflow actions' widget-type='InsightsOverflowActions')
                    .pf-c-dropdown__toggle.pf-m-plain(aria-expanded='false')
                        .ins-c-skeleton.ins-c-skeleton__lg.ins-m-dark &nbsp;
                        img.pf-c-dropdown__toggle-icon(src='apps/chrome/assets/images/overflow-actions-lg.svg')
        img.pf-c-avatar(src='apps/chrome/assets/images/img_avatar.svg' alt='Avatar Image')
