div.pf-c-background-image
    include imageFilter.pug
div.pf-c-page#page
    include landing-header.pug
    main.pf-c-page__main.pf-l-page__main#root(role='main')
        section.pf-c-page__main-section.pf-l-page__main-section(page-type='landing')

include after.pug
