aside.pf-c-page__sidebar.pf-l-page__sidebar#ins-c-sidebar
    nav.pf-c-nav(aria-label='Insights Global Navigation')
        ul.pf-c-nav__list
            li.pf-c-nav__item
                a(class='pf-c-nav__link')
                    div.ins-c-skeleton.ins-c-skeleton__lg &nbsp;
            li.pf-c-nav__item
                a(class='pf-c-nav__link')
                    div.ins-c-skeleton.ins-c-skeleton__lg &nbsp;
            li.pf-c-nav__item
                a(class='pf-c-nav__link')
                    div.ins-c-skeleton.ins-c-skeleton__lg &nbsp;
            li.pf-c-nav__item
                a(class='pf-c-nav__link')
                    div.ins-c-skeleton.ins-c-skeleton__lg &nbsp;
