- var i = 0;
aside.pf-c-page__sidebar.pf-l-page__sidebar#ins-c-sidebar
    .pf-l-split.ins-c-navigation__header
        .pf-l-split__item.ins-c-page__home-icon
            a
                i.fas.fa-home.fa-lg
        .pf-l-split__item.pf-m-main.pf-u-display-flex.pf-u-align-items-center
            .ins-c-skeleton.ins-c-skeleton__lg &nbsp;
    nav.pf-c-nav(aria-label='Insights Global Navigation')
        ul.pf-c-nav__list
            while i < 4
                li.pf-c-nav__item
                    a.pf-c-nav__link.ins-c-skeleton__link
                        .ins-c-skeleton.ins-c-skeleton__lg &nbsp;
                        - i++
