- var i = 0;
aside.pf-c-page__sidebar.pf-l-page__sidebar.ins-c-sidebar#ins-c-sidebar.ins-c-sidebar--loading.pf-m-dark
    section.ins-c-app-switcher--loading(aria-label='Insights Global App Switcher', data-ouia-safe='false')
        .ins-c-skeleton.ins-c-skeleton__lg.ins-m-dark &nbsp;
    nav.pf-c-nav(aria-label='Insights Global Navigation', data-ouia-safe='false')
        ul.pf-c-nav__list
            while i < 4
                li.pf-c-nav__item
                    a.pf-c-nav__link.ins-c-skeleton__link
                        .ins-c-skeleton.ins-c-skeleton__lg.ins-m-dark &nbsp;
                        - i++
