script(src='/insights/static/chrome/js/chrome.js')
aside.pf-l-page__sidebar#ins-c-sidebar
  nav.pf-c-nav(aria-label='Insights Global Navigation' widget-type='InsightsGlobalNavigation')
    ul#navigation.pf-c-nav__list
