- var i = 0;
script
    | console.warn('Chrome Deprecation: We deprecated the sidenav snippet. For instructions, please see: http://platform-docs.cloud.paas.upshift.redhat.com/frontend/chrome.html')
script(src=`./apps/chrome/${ chromeJS }`)
aside.pf-c-page__sidebar.pf-l-page__sidebar.pf-m-dark
    nav.pf-c-nav.pf-m-dark(aria-label='Insights Global Navigation', data-ouia-safe='false')
        ul.pf-c-nav__list
            while i < 4
                li.pf-c-nav__item
                    a.pf-c-nav__link.ins-c-skeleton__link
                        .ins-c-skeleton.ins-c-skeleton__lg.ins-m-dark &nbsp;
                        - i++
main.page__inventory.pf-c-page__main.pf-l-page__main(role='main')
    section.pf-m-light.pf-c-page-header.pf-l-page-header.pf-c-page__main-section.pf-l-page__main-section.pf-m-light(widget-type="InsightsPageHeader")
        .pf-c-content
            h1.pf-c-title.pf-m-2xl(widget-type='InsightsPageHeaderTitle')
    section.pf-c-page__main-section.pf-l-page__main-section(page-type='inventory')
