.astro__virtual-assistant {
  position: fixed;
  bottom: var(--pf-t--global--spacer--lg);
  right: var(--pf-t--global--spacer--lg);
  z-index: 1000;
  @media screen and (max-width: 768px) {
    bottom: 0;
    right: 0;
  }
}

.astro-va-drawer-open {
  transition: right 0.25s ease;
  right: 470px !important;
}

.astro-va-drawer-closed {
  transition: right 0.25s ease;
}
