.astro__virtual-assistant {
  position: fixed;
  bottom: var(--pf-t--global--spacer--lg);
  right: var(--pf-t--global--spacer--lg);
  z-index: 1000;
  @media screen and (max-width: 768px) {
    bottom: 0;
    right: 0;
  }
}

// Base transition class - always present for smooth animations
.astro-va-transition {
  transition: right 0.25s;
}

// Shift Virtual Assistant when drawer is open
.astro-va-shifted {
  right: 470px !important;
}
