.chr-c-app-title {
  color: white;
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--sm) var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  width: 100%;
  border-bottom: var(--pf-global--spacer--xs) solid var(--pf-global--Color--300);
  font-weight: var(--pf-global--FontWeight--semi-bold);
  white-space: normal;
  text-align: left;
  font-size: 17px;
}

.pf-c-nav__list {
  section.chr-c-section-nav {
    margin-bottom: var(--pf-global--spacer--md);
    margin-top: 0 !important;
    h2.pf-c-nav__section-title {
      border: 0;
      border-top: var(--pf-global--BorderWidth--sm) var(--pf-global--BackgroundColor--dark-200) solid;
      color: var(--pf-global--palette--black-500);
      font-size: var(--pf-global--FontSize--xs);
      font-weight: var(--pf-global--FontWeight--medium);
      padding: var(--pf-global--spacer--md) 0 var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
    }
    ul
      > li.pf-c-nav__item {
        border-top: 0;
        --pf-c-nav__item--MarginTop: 0;
        --pf-c-nav__item--before--BorderWidth: 0;
        &:last-child {
          margin-bottom: var(--pf-global--spacer--sm);
        }
        .pf-c-nav__subnav {
          padding: 0 0 0 var(--pf-global--spacer--lg);
          .pf-c-nav__list {
            .pf-c-nav__item {
              .pf-c-nav__link{
                padding-left: var(--pf-global--spacer--lg);
              }
              &:last-child {
                margin-bottom: var(--pf-global--spacer--sm);
              }
            }
          }
        }
        section.pf-c-nav__subnav {
          li.pf-c-nav__item {
            border: none !important;
          }
        }
      }
    }
    .pf-c-nav__item.chr-c-navigation__additional-links {
      .pf-c-nav__link {
        padding-left: var(--pf-global--spacer--lg);
      }
    }
  > .pf-c-nav__item:not(:first-child) {
    border-top: var(--pf-global--BorderWidth--sm) var(--pf-global--BackgroundColor--dark-200) solid;
  }   
  svg {
    margin-left: var(--pf-global--spacer--sm);
    width: 12px;  
  }
}

.pf-c-nav__item {
  a.chr-c-navigation__with-notifier {
    align-items: center;
    .notifier-icon {
      margin-left: auto;
      margin-right: 8px;
    }
  }
}

.pf-c-nav {
  .chr-c-navigation__beta-icon {
    --pf-c-icon__content--Color: var(--pf-global--palette--green-300);
  }
}

.chr-c-navigation__isHidden {
  display: none;
}

.chr-c-app-switcher--loading {
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg)
}