.chr-c-app-title {
  padding: var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--md) var(--pf-t--global--spacer--md);
  width: 100%;
  border-bottom: var(--pf-t--global--spacer--xs) solid var(--pf-t--global--color--nonstatus--gray--100);
  font-weight: var(--pf-t--global--font--weight--heading);
  white-space: normal;
  text-align: left;
  font-size: 17px;
}
