.topbar
  button.button__toggle
    i.fas.fa-bars
  include logo.pug
  .utilities
    button.button__feedback
      i.fas.fa-comments
      span Provide feedback
    .sep
    .notifications
      i.fas.fa-bullhorn
      i.fas.fa-bell
    .sep
    button.help
      span Help
      i.fas.fa-caret-down