nav.sidenav
  ul.navigation
    li
      i.fas.fa-tachometer-alt
      span Dashboard
    li
      i.fas.fa-clipboard-list
      span Advisor
    li
      i.fas.fa-lock
      span Security
    li
      i.fas.fa-gavel
      span Compliance
    li
      i.fas.fa-piggy-bank
      span Cost Management
    li
      i.fas.fa-user-md
      span Vulnerabilities
    li
      i.fas.fa-database
      span Inventory
    li
      i.fas.fa-chart-bar
      span Executive Report
    li
      i.fas.fa-cog
      span Settings
    li.active
      i.fas.fa-vial
      span Test Active