@import '~@patternfly/patternfly/sass-utilities/_all';

.chr-c-page__app-filter-dropdown-menu {
  position: absolute;
  .pf-c-dropdown__menu::before {
    z-index: -1000;
  }
  .pf-c-dropdown__menu {
    bottom:0;
    left: 0;
    top: 70px;
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed; // allows menu to go full width
    .chr-app-filter-content {
      display: flex;
      flex-direction: column;
      align-self: stretch;
      .chr-l-flex-app-filter-search {
        padding: var(--pf-global--spacer--xl) 0 var(--pf-global--spacer--xl) 0;
        justify-content: center;
        .pf-c-text-input-group {
          width: 300px;
          .pf-c-search-input {
            display: flex;
            &__icon {
                color: var(--pf-global--BackgroundColor--dark-100);
            }
            &__text-input{
                color: var(--pf-global--BackgroundColor--dark-100);
            }
          }
        }
      }
      div.gallery {
        column-gap: var(--pf-global--spacer--lg);
        margin: 0 auto; // centers columns
      }
      div.galleryItem {
        display: block;
        padding-bottom: var(--pf-global--spacer--xl);
        width: 350px;
        overflow: hidden; // prevents padding from spilling into next column
        break-inside: avoid-column; // prevents padding from spilling into next column
        .pf-l-split {
          margin-top: auto;
          .pf-l-split__item {
            h4 {
              color: var(--pf-global--BackgroundColor--dark-100);
              font: "RedHatDisplay", "Overpass", overpass, helvetica, arial, sans-serif; //--pf-global--FontFamily--heading--sans-serif
              font-weight:  var(--pf-global--FontWeight--normal);
              margin-bottom: var(--pf-global--spacer--md);
              white-space: nowrap;
            }
            p {
              margin-bottom: var(--pf-global--spacer--sm);
            }
            a {
              white-space: nowrap;
              color: var(--pf-global--active-color--100);
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: $pf-global--breakpoint--md) { 
    .pf-c-dropdown__menu {
      bottom:0; // allows scrolling
      top: 119px;
      div.gallery {
        column-count: 1;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 1099px) {
    .pf-c-dropdown__menu {
      bottom: 0;  // allows scrolling
      div.gallery {
        column-count: 2;
        width: calc( 350px * 2 );
      }
    }
  }
  @media screen and (min-width: 1100px) and (max-width: 1549px) { 
    div.gallery {
      column-count: 3;
      width: calc( 350px * 3 );
    }
  }
  @media screen and (min-width: 1550px) { 
    div.gallery {
      column-count: 4;
      width: calc( 350px * 4 );
    }
  }
  .pf-c-empty-state {
    h4 {
      color: var(--pf-global--BackgroundColor--dark-100);
      font-size: var(--pf-c-title--m-xl--FontSize);
    }
    button {
      color: var(--pf-global--active-color--100);
    }
  }
}
