.chr-c-alert {
  margin-top: var(--pf-t--global--spacer--xs);
  // to be above the static favorite button toggle
  z-index: 10;
  .pf-v6-c-alert__title {
      padding: unset;
  }
  .pf-v6-c-alert__icon {
      padding: unset;
      background-color: unset;
  }
  .pf-v6-c-button.pf-m-plain {
    color: var(--pf-t--global--icon--color--subtle);
  }
}

.chr-c-alert-preview {
  min-width: 400px;
}
