.chr-c-masthead {
  overflow: visible;
  .chr-c-dropdown-item__stack {
    white-space: nowrap;
    * { color: var(--pf-c-dropdown__menu-item--disabled--Color); }
  }
  .chr-c-dropdown-item__stack--header,
  .chr-c-dropdown-item__stack--subValue {
    font-size: var(--pf-global--FontSize--xs);
  }
  .chr-c-dropdown-item__stack--subValue { padding-top: var(--pf-global--spacer--xs); }

  .chr-c-brand {
    width: 193px;
  }

  a.chr-c-button-masthead  {
    display: flex;
    align-items: center; 
    align-self: stretch;
    background: transparent;
    border: 1px solid var(--pf-global--Color--300);
    border-bottom: 0;
    border-radius: 0;
    border-top: 0;
    color: var(--pf-global--Color--light-100);
    text-decoration: none;
    &:hover {
       border-bottom: 3px solid var(--pf-global--info-color--100);
       padding-bottom: 3px;
       &.disabled {
         border-bottom: none;
       }
     }
      &.active {
        border-bottom: 3px solid var(--pf-global--info-color--100);
        padding-bottom: 3px;
      }
      &.disabled {
       color: var(--pf-global--palette--black-500);
       .pf-c-icon {
         --pf-c-icon__content--Color: var(--pf-global--palette--black-500);
        }
      }
    .pf-c-icon {
      --pf-c-icon__content--Color: var(--pf-global--Color--light-100);
      margin-right: var(--pf-global--spacer--sm);
    }
  }

  .chr-c-beta-switcher {
    .pf-c-switch__label {
      color: var(--pf-global--palette--black-400) !important;
    }
  }

  .chr-c-dropdown-user-toggle {
    --pf-c-dropdown__menu--Top: 100%;
  }
}

.chr-pen-test {
  border-top: 3px solid var(--pf-global--palette--purple-300);
}

.disabled-pointer {
  pointer-events: none;
}

.visible-pointer {
  pointer-events: auto;
}