.chr-c-masthead {
  overflow: visible;
  .chr-c-dropdown-item__stack {
    white-space: nowrap;
    * { color: var(--pf-c-dropdown__menu-item--disabled--Color); }
  }
  .chr-c-dropdown-item__stack--header,
  .chr-c-dropdown-item__stack--subValue {
    font-size: var(--pf-global--FontSize--xs);
  }
  .chr-c-dropdown-item__stack--subValue { padding-top: var(--pf-global--spacer--xs); }

  .chr-c-brand {
    width: 193px;
  }

  a.chr-c-button-masthead  {
    display: block;
    height: 75px;
    background: transparent;
    border: 1px solid var(--pf-global--Color--300);
    border-bottom: 0;
    border-radius: 0;
    border-top: 0;
    color: var(--pf-global--Color--light-100);
    padding: var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
    text-decoration: none;
    &:hover {
       border-bottom: 3px solid var(--pf-global--info-color--100);
       &.disabled {
         border-bottom: none;
       }
     }
      &.disabled {
       color: var(--pf-global--palette--black-500);
      }
    svg {
      margin-right: var(--pf-global--spacer--sm)
    }
  }

  .chr-c-badge-beta {
    background-color: var(--pf-global--palette--green-300);
    color: var(--pf-global--Color--dark-100);
  }
  .chr-c-dropdown-user-toggle {
    button::before {
      border-color: var(--pf-global--palette--black-900)
    }
    &.pf-m-expanded button::before, button:hover::before {
      border-bottom-color: var(--pf-global--primary-color--200)
    }    
  }
}

.chr-pen-test {
  border-top: 3px solid var(--pf-global--palette--purple-300);
}

.disabled-pointer {
  pointer-events: none;
}

.visible-pointer {
  pointer-events: auto;
}