.chr-c-ai-experience-icon {
  vertical-align: middle;
  position: relative;
  top: -1px;
}

.chr-c-ai-experience-icon-dark {
  display: none;
}

.pf-v6-theme-dark {
  .chr-c-ai-experience-icon-light {
    display: none;
  }

  .chr-c-ai-experience-icon-dark {
    display: inline;
  }
}

.chr-c-help-panel-toggle {
  --pf-v6-c-button--m-primary--m-display-lg--Gap: 0.25rem;
  --pf-v6-c-button--Gap: 0.25rem;
}