@import '~@patternfly/patternfly/sass-utilities/_all';
.chr-c-context-selector {
  --pf-c-masthead--c-context-selector--Width: 224px;
  .chr-c-content-personal-account {
    .account-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .pf-c-context-selector__menu-list-item {
    svg {
      font-size: 9px;
    }
  }
}
