@import '~@patternfly/patternfly/sass-utilities/_index';
.chr-c-context-selector {
  --pf-v6-c-masthead--c-context-selector--Width: 224px;
  .chr-c-content-account {
    width: 100%;
    .account-label {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  .pf-v6-c-context-selector__menu-list-item {
    width: calc(224px - 16px);
    svg {
      font-size: 9px;
    }
    small.account-name {
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: initial;
    }
  }
}
