@import '~@redhat-cloud-services/frontend-components-utilities/styles/_mixins';
@import '~@patternfly/patternfly/sass-utilities/_all';

.chr-c-footer {
  li + li {
    @media screen and (min-width: $pf-global--breakpoint--lg) {
      &::before {
        content: '|';
        margin-right: var(--pf-global--spacer--md);
      }
    }
  }
}

footer#hcc-footer { // temp override for conflict with OCM footer
  background: transparent;
  li {
    border: none;
    a {
      color: var(--pf-global--active-color--100);
      margin: 0;
    }
  }
}
