.chr-c-footer {
  .pf-v6-c-icon {
    --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--black-500);
    --pf-v5-c-icon__content--FontSize: 2.5em;
    &:hover {
      --pf-v5-c-icon__content--Color: var(--pf-v5-global--palette--black-400);
    }
  }
  .pf-v6-c-content {
    --pf-v5-c-content--a--Color: var(--pf-v5-global--Color--light-100);
    --pf-v5-c-content--a--hover--Color: var(--pf-v5-global--Color--light-100);
  }
}
