.chr-c-search {
  &__container {
    margin: auto;
  }

  &__menu {
    overflow-y: auto;
  }

  &__input {
    border-radius: 0;
    width: 100%;
    max-width: 600px;
    background-color: var(--pf-global--BackgroundColor--dark-200);
    .pf-c-text-input-group__text {
      &::before, &::after {
        border-color: var(--pf-global--palette--black-800);
        border-radius: 0;
        border-bottom: 2px solid var(--pf-global--primary-color--100);
      }
      &:hover {
        .pf-c-text-input-group__icon {
          color:var(--pf-global--palette--black-400);
        }
      }
      .pf-c-text-input-group__icon {
        color:var(--pf-global--palette--black-600);
      }
    }
    .pf-c-text-input-group__utilities {
      .pf-c-button.pf-m-plain {
        color:var(--pf-global--palette--black-500);
        &:hover {
          color:var(--pf-global--palette--black-300);
        }
      }
    }
  }

  &__empty-state {
    .pf-c-empty-state__icon {
      font-size: 2rem;
    }
  }

}