@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@import '~@patternfly/patternfly/patternfly-addons.scss';


.chr-c-search-title {
  mark {
    font-weight: var(--pf-v5-global--FontWeight--bold);
    background-color: transparent;
  }
}

.chr-c-search {
  &__collapsed {
    justify-content: flex-end;
  }
  &__input {
    .pf-v6-c-input-group {
      background-color: transparent !important;
    }
    .pf-v6-c-text-input-group {
      --pf-v5-c-text-input-group--BackgroundColor: var(--pf-v5-global--palette--black-700);
      --pf-v5-c-text-input-group__icon--Color: var(--pf-v5-global--primary-color--light-100);
      --pf-v5-c-text-input-group__text--after--BorderBottomColor: var(--pf-v5-global--palette--black-500);
      --pf-v5-c-text-input-group__text--before--BorderColor: var(--pf-v5-global--palette--black-800);
      --pf-v5-c-text-input-group__text--hover__icon--Color: var(--pf-v5-global--primary-color--light-100);
      input::placeholder {
        color: var(--pf-v5-global--Color--light-300);
      }
      input, input:hover::placeholder {
        color: var(--pf-v5-global--Color--light-100) !important;
      }
      &:hover {
        --pf-v5-c-text-input-group__text--after--BorderBottomColor: var(--pf-v5-global--active-color--300);
      }
      input:focus-visible {
        outline: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--BackgroundColor--dark-100);
      }
    }

  }
  &__menu {
    overflow-y: auto;
    .pf-v6-c-menu__group-title {
      padding-bottom: var(--pf-v5-global--spacer--md);
      &:empty {
        display: none;
      }
    }
    small {
      display: inline-block;
    }
  }
  &__empty-state {
    .pf-v6-c-empty-state__icon {
      font-size: 2rem;
    }
  }
}
