.ins-c-app-switcher {
    width: 100%;
    padding: calc(8px + var(--pf-global--spacer--sm)) 12px;
    margin-top: 7px;
    border-bottom: 3px solid #3c3f42;

    .ins-c-app-switcher__dropdown {
        width: 100%;
        padding: 8px 12px;
        &.pf-m-expanded, &:hover {
            background: #393c3d;
        }

        .pf-c-dropdown__menu {
            min-width: unset;
            left: 0;
        }

        .pf-c-dropdown__toggle {
            color: white;
            padding: 0;
            width: 100%;
            justify-content: space-between;
            .pf-c-dropdown__toggle-text {
                text-transform: capitalize;
                font-weight: var(--pf-global--FontWeight--semi-bold);
            }
        }
        
        .pf-c-dropdown__menu-item {
            word-wrap: break-word;
            white-space: normal;
            &.ins-c-app-switcher__current {
                font-weight: var(--pf-global--FontWeight--semi-bold);
                background: var(--pf-c-dropdown__menu-item--hover--BackgroundColor);
            }
        }
    }
}