.ins-c-navigation__additional-links {
    align-items: center;
    svg { margin-left: var(--pf-global--spacer--sm); }
}

.pf-c-nav__item .pf-c-nav__link .ins-c-navigation__beta-badge {
    float: right;
    margin-right: 0px;
    margin-left: auto;
}

.pf-c-nav {
    .ins-c-navigation__beta-badge {
        background-color: var(--pf-global--palette--green-300);
        color: var(--pf-global--Color--dark-100);
    }
}

.ins-c-navigation__beta-info-modal {
    text-align: center;
    width: 90%;
    div {
        margin: var(--pf-global--spacer--md);
    }
    .info-icon {
        color: var(--pf-global--info-color--100);
        margin: var(--pf-global--spacer--md);
    }
}

.ins-c-navigation__isHidden {
    display: none;
}
