.ins-c-sidebar .pf-c-nav .pf-c-nav__link {
    text-transform: capitalize; // All nav links should be in title case, remove CSC as a dependent for this
    &.ins-m-ignore-case { text-transform: none; }
}