
.ins-c-app-title {
  color: var(--pf-global--Color--light-100);
  font-size: var(--pf-global--FontSize--lg);
  margin: 0 !important;
  white-space: nowrap;
}

.pf-c-nav__list {
  section.ins-c-section-nav {
    margin-top: 0 !important;
    h2.pf-c-nav__section-title {
      color: var(--pf-global--disabled-color--100);
      font-size: var(--pf-global--FontSize--xs);
      font-weight: var(--pf-global--FontWeight--semi-bold);
      text-transform: uppercase;
      padding-bottom: var(--pf-global--spacer--md);
      padding-left: var(--pf-global--spacer--lg);
      padding-top: var(--pf-global--spacer--md);
      }
    ul
      > li.pf-c-nav__item {
        margin-top: 0;
        border: var(--pf-global--BorderWidth--sm) var(--pf-global--BackgroundColor--dark-200) solid;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        a.pf-c-nav__link, button.pf-c-nav__link {
          padding-left: var(--pf-global--spacer--xl);
          svg {
            margin-left: 3px;
          }
        }
        .pf-c-nav__subnav {
          --pf-c-nav__link--active--after--BorderColor: var(--pf-global--primary-color--light-100);
          --pf-c-nav__link--hover--after--BorderColor: var(--pf-global--primary-color--light-100);
          padding-left: var(--pf-global--spacer--xl);
          padding-bottom: 0;
          .pf-c-nav__list {
            .pf-c-nav__item {
              .pf-c-nav__link{
                padding-left: var(--pf-global--spacer--sm);
                svg {
                  width: 12px;
                  height: 12px;
                  margin-left: var(--pf-global--spacer--sm)
                }
              }
            }
          }
        }
        section.pf-c-nav__subnav {
          li.pf-c-nav__item {
            border: none !important;
          }
        }
      }
    }
    .ins-c-navigation__additional-links{
      --pf-c-nav__link--hover--after--BorderColor:  var(--pf-global--primary-color--light-100);
      a {
        padding-left: var(--pf-global--spacer--lg);
      }
      svg {
        width: 12px;
        height: 12px;
      }
    }
  }
