.ins-c-app-title {
    color: white;
    padding:   var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
    width: 100%;
    border-bottom: var(--pf-global--spacer--xs) solid var(--pf-global--Color--300);
    text-transform: capitalize;
    font-weight: var(--pf-global--FontWeight--semi-bold);
    white-space: normal;
    text-align: left;
}
