.chr-c-landing-nav {
  height: 100%;

  .chr-c-app-title {
    border: 0;
  }
}

/**
* There is a transition of background color on first landing page nav render
* We have to turn it off for now because we are adding the PF nav class names later on
*/
#chr-c-landing-nav {
  transition: none;
}
