
@media (min-width: 768px) {

  .pf-c-page__sidebar {
    width: 100%;
    position: absolute;
    top: 70px;
  }

  .chr-c-navtest {

    /* smaller top padding for main card wrapper w/ title */
    .pf-c-card.pf-m-plain {
      --pf-c-card--first-child--PaddingTop: var(--pf-global--spacer--md);
    }

    .pf-c-sidebar {
      /* nav background color */
      --pf-c-sidebar__panel--BackgroundColor: var(
        --pf-global--BackgroundColor--200
      );
      /* custom nav width - set to whatever */
      --pf-c-sidebar__panel--md--FlexBasis: 20rem;
      // width: var(--pf-c-page__sidebar--Width);

      &__main {
        /* makes nav and content heights match. necessary for nav background to span full height */
        align-items: stretch;
       }

      &__panel {
        /* inner padding in the nav area */
        padding-top: var(--pf-global--spacer--sm);
        padding-bottom: var(--pf-global--spacer--sm);
        padding-left: var(--pf-global--spacer--md);
        /* shadow between nav and content */
        box-shadow: inset -4px 0 4px -4px rgba(0, 0, 0, 0.16);

        .pf-c-tabs {
          /* tab item custom padding */
          --pf-c-tabs--m-vertical__link--PaddingTop: var(--pf-global--spacer--sm);
          --pf-c-tabs--m-vertical__link--PaddingBottom: var(--pf-global--spacer--sm);
          --pf-c-tabs__link--PaddingRight: var(--pf-global--spacer--md);
          --pf-c-tabs__link--PaddingLeft: var(--pf-global--spacer--md);

          /* adjust tabs toggle margins */
          --pf-c-tabs__toggle-button--MarginTop: 0;
          --pf-c-tabs__toggle-button--MarginBottom: 0;
          --pf-c-tabs__toggle-button--MarginLeft: 0;
          --pf-c-tabs__toggle--MarginBottom: 0;

          /* current tab item text color */
          --pf-c-tabs__item--m-current__link--Color: var(--pf-global--link--Color);

          /* allow tabs width to fill parent */
          --pf-c-tabs--m-vertical--MaxWidth: 100%;

          /* remove tab list left border */
          --pf-c-tabs--m-vertical__list--before--BorderColor: transparent;
        }

        .pf-c-tabs__link::after {
          /* remove tab item accent border */
          border-color: transparent;
        }

        .pf-c-tabs__item.pf-m-current {
          /* custom background for current tab */
          --pf-c-tabs__link--BackgroundColor: var(--pf-global--BackgroundColor--100);
        }
      }

      &__content {

      }
    }

  }

  .pf-c-tabs {
    /* adjust tabs toggle margins */
    --pf-c-tabs__toggle-button--MarginTop: 0;
    --pf-c-tabs__toggle-button--MarginBottom: 0;
    --pf-c-tabs__toggle-button--MarginLeft: 0;
    --pf-c-tabs__toggle--MarginBottom: 0;
  }
}
