.chr-c-global-filter {
  padding: var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
  background: var(--pf-global--BackgroundColor--100);
  .pf-c-chip-group { margin-right: var(--pf-global--spacer--xs); }
  .chr-c-chip { background: var(--pf-global--palette--blue-50); }
}

.chr-c-menu-global-filter {
  max-height: 400px;
  overflow-y: auto;
  width: 450px;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: none !important;
}
.chr-c-menu-global-filter__select {
  padding-top: 0;
  padding-bottom: 0;
  input {
    border: 0;
  }
  &.expanded, &.pf-m-expanded {
    width: 450px;
    .pf-c-menu-toggle__text {
      width: 390px;
    }
  }
  .pf-c-select__toggle-text {
    flex-grow: 1;
    > input.pf-c-form-control {
      border: none;
    }
  }

  .pf-c-check__label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .ins-c-tagfilter__option-value {
      text-overflow: ellipsis;
      max-width: 340px;
      overflow: hidden;
    }
    .pf-c-badge {
        margin-left: 8px;
        padding-top: 3px;
    }
}
}
