@import '~@patternfly/patternfly/sass-utilities/scss-variables';

.chr-c-link-service-toggle {
  // Use minimal z-index to work above search but below dropdown menu
  position: relative;
  z-index: 1100;
  // Add margin to prevent overlap with search input  
  margin-right: var(--pf-t--global--spacer--xl);
  // Limit max width to prevent overlap with search field
  max-width: 240px;
  // Ensure it doesn't shrink too much
  flex-shrink: 0;

  // override menu toggle extra bottom border
  &.pf-v6-c-menu-toggle::after {
    border-bottom: none;
  }
  &.pf-v6-c-menu-toggle:hover::after,
  &.pf-m-expanded::after {
    border-bottom: var(--pf-t--global--border--width--extra-strong) solid var(--pf-t--global--border--color--status--info--default);
  }
}

.platform-icon {
  width: 24px;
}

.chr-c-page__services-nav-dropdown-menu {
  @media screen and (min-width: $pf-v6-global--breakpoint--2xl) {
    top: 65px;
    height: 100vh;
    &.preview-offset {
      // consider the preview banner
      top: calc(65px + 32px);
    }
  }

  @media screen and (max-width: $pf-v6-global--breakpoint--2xl) {
    top: 118px;
    height: 100vh;

    &.preview-offset {
      // consider the preview banner
      top: calc(118px + 32px);
    }
  }

  // pos has to be important to override PF styles that get lazy loaded!
  position: absolute !important;
  z-index: 1500;

  .pf-v6-c-dropdown__menu::before {
    z-index: -1000;
  }

  // To not cover the entire screen including masthead
  .pf-v6-c-backdrop {
    position: relative;
    background-color: rgba(21, 21, 21, 0.0)
  }

  .pf-v6-c-tabs__list::before {
    border-left:none !important;
  }
}

.chr-c-panel-services-nav {
  .chr-c-empty-state-favorites {
    padding-top: var(--pf-t--global--spacer--md);
  }
}

@media (max-width: $pf-v6-global--breakpoint--md) {
  .chr-c-panel-services-nav {
    .chr-l-stack__item-browse-all-services {
      background: var(--pf-t--global--background--color--200);
      border-bottom: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--on-secondary);
    }
    .pf-v6-c-tabs {
      background: var(--pf-t--global--background--color--200);
      border-bottom: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--on-secondary);
      height: 100%;
    }
    .pf-v6-c-sidebar__panel {
      --pf-v6-l-flex--RowGap: 0;
    }
  }
}

@media (min-width: $pf-v6-global--breakpoint--md) {
  .chr-c-panel-services-nav {
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 18px;
    .chr-l-stack__item-browse-all-services {
      border-bottom: var(--pf-t--global--border--width--regular) solid var(--pf-t--global--border--color--on-secondary);
    }
    .pf-v6-c-sidebar {
      --pf-v6-c-sidebar__panel--md--FlexBasis: 20rem;
      &__main {
        height: 820px;
      }
      &__content {
        border-bottom-right-radius: 16px;
        border-top-right-radius: 16px;
        height: 820px;
        overflow: auto;
      }
      &__panel {
        border-bottom-left-radius: 18px;
        border-top-left-radius: 18px;
        border-right: 1px solid var(--pf-t--global--border--color--default);
        flex-basis: 500px;
        height: 820px;
        .pf-v6-c-tabs {
          --pf-v6-c-tabs__item--m-current__link--after--BorderColor: transparent;
          --pf-v6-c-tabs--m-vertical__link--PaddingTop: var(--pf-t--global--spacer--sm);
          --pf-v6-c-tabs--m-vertical__link--PaddingBottom: var(--pf-t--global--spacer--sm);
          --pf-v6-c-tabs__link--PaddingRight: var(--pf-t--global--spacer--md);
          --pf-v6-c-tabs__link--PaddingLeft: var(--pf-t--global--spacer--md);
          --pf-v6-c-tabs__item--m-current__link--Color: var(--pf-t--global--text--color--link--default);
          --pf-v6-c-tabs--m-vertical--MaxWidth: 100%;
        }
        .pf-v6-c-tabs__item-text {
          flex-grow: 1;
        }
      }
      .pf-v6-c-card {
        --pf-v6-c-card--first-child--PaddingTop: var(--pf-t--global--spacer--md);
      }
    }
  }
}

.chr-c-favorite-service__tile {
  display: block;
  text-decoration: none !important;
  &:hover {
    background: var(--pf-t--global--background--color--200);
  }

  :hover {
    .chr-c-icon-star {
      visibility: visible;
    }
  }

  .chr-c-favorite-button {
    :hover {
      background-color: none;
    }
  }
}
