@import '~@patternfly/patternfly/sass-utilities/_all';

.chr-c-link-service-toggle {
  // override menu toggle extra bottom border
  &.pf-c-menu-toggle::after {
    border-bottom: none;
  }
  &.pf-c-menu-toggle:hover::after, &.pf-m-expanded::after {
    border-bottom: var(--pf-global--BorderWidth--lg) solid var(--pf-global--info-color--100);
  }
}

.chr-c-page__services-nav-dropdown-menu {
  @media screen and (min-width: $pf-global--breakpoint--2xl) {
    top: 70px;
    height: calc(100vh - 70px);
  }
  @media screen and (max-width: $pf-global--breakpoint--2xl) {
    top: 118px;
    height: calc(100vh - 118px);
  }

  // pos has to be important to override PF styles that get lazy loaded!
  position: absolute !important;
  z-index: 1000;
  .pf-c-dropdown__menu::before {
    z-index: -1000;
  }

  // To not cover the entire screen including masthead
  .pf-c-backdrop {
    position: relative;
  }
  .pf-c-dropdown__menu {
    position: relative; // make sure to enable scroll within backdrop
    top: 0;
  }
}

@media (max-width: $pf-global--breakpoint--md) {
  .chr-c-panel-services-nav {
    .chr-l-flex__item-browse-all-services {
      background: var(--pf-global--BackgroundColor--200);
      border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--dark-100);
    }
    .pf-c-tabs {
      background: var(--pf-global--BackgroundColor--200);
      border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--dark-100);
      height: calc(100% - 80px);
    }
    .pf-c-tabs__toggle-button  {
      width: 100%;
    }
    .pf-c-tabs__toggle-button .pf-c-button {
      flex-direction: row-reverse;
      justify-content: space-between;
      padding: var(--pf-global--spacer--sm);
      width: 100%;
    }
  }
}

@media (min-width: $pf-global--breakpoint--md) {
  .chr-c-panel-services-nav {
    .chr-l-flex__item-browse-all-services {
      border-top: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--dark-100);  
      bottom: 0;
      position: absolute;
    }

    .pf-c-sidebar {
      --pf-c-sidebar__panel--md--FlexBasis: 20rem;
      --pf-c-sidebar__panel--BackgroundColor: var(--pf-global--BackgroundColor--200);
      &__main {
        height: 80vh;  
      }
      &__content {
        height: 80vh;  
        overflow: auto;
      }
      &__panel {
        height: 80vh;
        position: relative;
        box-shadow: inset -4px 0 4px -4px rgba(0, 0, 0, 0.16);
        .chr-l-flex__item-tabs {
          overflow: auto;
          padding-bottom: var(--pf-global--spacer--2xl);
        }
        .pf-c-tabs {
          --pf-c-tabs__item--m-current__link--after--BorderColor: transparent;
          --pf-c-tabs--m-vertical__link--PaddingTop: var(--pf-global--spacer--sm);
          --pf-c-tabs--m-vertical__link--PaddingBottom: var(--pf-global--spacer--sm);
          --pf-c-tabs__link--PaddingRight: var(--pf-global--spacer--md);
          --pf-c-tabs__link--PaddingLeft: var(--pf-global--spacer--md);
          --pf-c-tabs__item--m-current__link--Color: var(--pf-global--link--Color);
          --pf-c-tabs--m-vertical--MaxWidth: 100%;
          --pf-c-tabs--m-vertical__list--before--BorderColor: transparent;
          .pf-c-tabs__item:hover, .pf-c-tabs__item:focus {
            button {
              color: var(--pf-global--primary-color--200)
            }
          } 
          .pf-c-tabs__item.pf-m-current {
            --pf-c-tabs__link--BackgroundColor: var(--pf-global--BackgroundColor--100);
          }
        }
      }
      .pf-c-card {
        --pf-c-card--first-child--PaddingTop: var(--pf-global--spacer--md);
      }
    }
  }
}
