.chr-c-breadcrumbs {
  background-color: var(--pf-global--BackgroundColor--dark-300);
  &__alignment {
    display: flex;
    align-items: center;
  }
  &__link {
    color: var(--pf-global--link--Color--light)
  }
}
