.chr-c-breadcrumbs {
  background-color: var(--pf-v5-global--BackgroundColor--dark-300) !important;
  .pf-v6-c-masthead__toggle button {
    padding-top: 0;
  }

  &__link {
    color: var(--pf-v5-global--link--Color--light)
  }
}
