@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@import '~@patternfly/patternfly/patternfly-addons.scss';
@import '~@patternfly/patternfly/sass-utilities/scss-variables';

.chr-c-all-services {
  .chr-c-all-services-filter .pf-v6-c-text-input-group__icon {
    display: none;
  }
  .chr-c-icon-filter {
    margin-right: -28px;
    padding-top: 18px;
    z-index: 2;
  }
  .chr-c-all-services-filter {
    max-width: 300px;
  }
  .pf-v6-l-gallery {
    column-count: auto;
    column-width: 430px;
  }
  .pf-v6-c-card {
    break-inside: avoid;
    // addresses Safari 'break-inside' glitch
    @supports (-webkit-hyphens: none) {
     display: inline-block;
    }
    width: 100%;
    &__body {
      padding-bottom: 0;
    }
    .chr-c-icon-not-favorited {
      cursor: pointer;
    }
    .pf-v6-l-split {
      --pf-v6-l-stack--m-gutter--Gap: 10px;
      .allservices-icon {
        height: 54px;
        width: 54px;
      }
    }
  }
  @media screen and (max-width: $pf-v6-global--breakpoint--md) {
    .chr-c-all-services-filter {
      max-width: 100%;
      width: 100%;
    }
  }
}
