@import "~@redhat-cloud-services/frontend-components-utilities/styles/_all";
@import '~@patternfly/patternfly/patternfly-addons.scss';

.chr-c-all-services {
  .pf-c-text-input-group__icon {
    display: none;
  }
  .chr-c-icon-filter {
    position: absolute;
    padding-left: 10px;
    padding-top: 34px;
    z-index: 2;
  }
  .chr-c-all-services-filter {
    max-width: 300px;
  }
  .pf-l-gallery {
    column-count: auto;
    column-width: 330px;
  }
  .pf-c-card {
    overflow: hidden;
    break-inside: avoid-column;
    .chr-c-icon-not-favorited {
      cursor: pointer;
    }
  }

  @media screen and (max-width: $pf-global--breakpoint--md) {
    .chr-c-all-services-filter {
      max-width: 100%;
      width: 100%;
    }
  }
}
