@use '~@patternfly/patternfly/sass-utilities/scss-variables' as *;

.pf-v6-c-page.chr-c-page--lightwell {
  grid-template-areas: 'header' 'subnav' 'main';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  --pf-v6-c-page--masthead--main-container--GridArea: main;
  --pf-v6-c-page__main-container--GridArea: main;

  > .pf-v6-c-masthead {
    // Prevent subgrid — keep inline masthead layout
    --pf-v6-c-masthead--m-display-inline--GridTemplateColumns: min-content 1fr;
  }
}
