.ins-c-footer {
  background: var(--pf-global--BackgroundColor--300);
  color: #6c6c6c;
  @include rem('font-size', 12px);
  @include rem('padding', 15px 20px);
  display: flex;
  align-items: center;

  * + * { @include rem('margin-left', 50px); }

  svg#redhat-logo {
    height: 30px;
    display: inline;
    .st0 { fill: var(--pf-global--BackgroundColor--dark-100); }
    .st1 { fill:#cc0000; }
    .st2 { fill:var(--pf-global--BackgroundColor--100); }
  }

  p, nav { @include rem('margin-top', 5px); }

  nav {
    a { color: #6c6c6c; }
    .nav-link + .nav-link { @include rem('margin-left', $global-margin/2); }
    .nav-link:not(:first-of-type):before {
      content: "|";
      @include rem('margin-right', $global-margin/2);
    }
  }
}
