aside.pf-c-page__sidebar {
    padding-top: 0;

    .ins-c-navigation__header {
        @include rem('height', 67px);
        overflow: hidden;

        .pf-l-split__item {
            @include rem('padding', 18px);
            border-bottom: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);

            &:first-child {
                border-right: var(--pf-global--BorderWidth--sm) solid var(--pf-global--BorderColor--100);
            }

            &.ins-c-page__home-icon {
                display: flex;
                align-items: center;
            }

            .ins-c-navigation__header-title { @include rem('width', 160px); }
        }

        .ins-c-page__home-icon { @include rem('padding-left', 30px); }

    }

    .ins-c-page__documentation a:before {
        position: absolute;
        @include rem('top', 5px);
        width: 75%;
        @include rem('height', 1px);
        content: "";
        background-color: var(--pf-global--disabled-color--200);
    }
}
